<p id="notice"><%= notice %></p>


  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h1 class="h3 mb-0 text-gray-800">Trainings</h1>
    </div>
    <div class="card-body">
      <div class="row mb-3">
       <%= link_to  new_training_path, :class => "btn btn-primary py-2" do %>
          <span>
            <i class="fas fa-plus mr-2"></i>      
            Add new training
          </span>
        <% end %>
      </div>
      <div class="row">
        <div class="col-xl-12">
          <table class="table-sm table-striped table-hover" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Type of training</th>
                <th>Date</th>
                <th>Time</th>
                <th>Comment</th>
              </tr>
            </thead>
              <tbody>
                <% @trainings.each do |training| %>
                  <tr>
                    <td><%= link_to training.type_of_training.title, edit_training_path(training) %>
                        <%= link_to 'X', training, method: :delete, data: { confirm: 'Are you sure?' }, :style => "color:red;"%>
                    </td>
                    <td><%= training.time %> min</td>
                    <td><%= training.t_date.strftime("%a - %d-%m-%Y") %></td>
                    <td><%= training.coment_text %></td>
                  </tr>
                <% end %>
              <tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
