<p id="notice"><%= notice %></p>
<div class="row-fluid">
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800">
			<%= @task_category.category %> tasks completed
	 	</h1>
    <%= link_to "Show in progress", @task_category, :class => "btn btn-warning text-white" %>
	 </div>
 <hr/>
</div>


<table class="table table-hover table-sm" id="dataTable" width="100%" cellspacing="0">
      <thead>
          <tr>
              <th>Tasks completed</th>
            </tr>
        </thead>
        <tbody>

   <% @task_category.tasks.where(done: true).order(created_at: :asc).each do |t| %>
   <tr>
    <td>
      <div class="card mb-2">
        <div class="card-header py-3 " id="headingOne">
            <div class="text-md font-weight-bold text-primary mb-2 ">
            <span class="text-gray-800"><%= t.created_at.strftime("%Y-%m-%d") %></span>
            <%= link_to t.player.fullname, t.player %> - <%= t.task_category.category %>
            
            </div>
       
        </div>

        <div class="card-body py-3 text-success">
              
        <%= image_tag t.image.url, style: 'height:300px;width:200px;float:left;padding-right:15px;' if t.image? %>
        <p><%= t.task %></p>

          
        <% t.task_comments.each do |tc| %>
        <hr/> 
           <p class="text-gray-800" style="font-style: italic"> - 
            <%= tc.comment %>
            <small><%= tc.created_at.strftime("%d-%m-%Y") %></small>
            
           </p>
        <% end %>
          
        
      </div>
      
      <div class="card-footer py-3">
        <% if can? :update, Task %>
         <%= link_to "Undo", add_progress_tasks_path + "?id=" + t.id.to_s, :class => "btn btn-danger" %>
      <% end %>
      <% if ! t.coach_id.nil? %>
      <span class="float-right text-gray-500"><%= t.get_coach.name %></span>
      <% end %>
      </div>
     

    </div>
    </td>
    </tr>
  <% end %>
  </tbody>
  </table>
