<p id="notice"><%= notice %></p>
<div class="row-fluid">
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800">
			<%= @task_category.category %> tasks in progress

	 	</h1>
    <%= link_to "Show completed", show_completed_task_categories_path + "?id=" + @task_category.id.to_s, :class => "btn btn-success" %>
	 </div>
 <hr/>
</div>


<table class="table table-hover table-sm" id="dataTable" width="100%" cellspacing="0">
      <thead>
          <tr>
              <th>Tasks in progress</th>
            </tr>
        </thead>
        <tbody>

   <% @task_category.tasks.where(done: false).or(@task_category.tasks.where(done: nil)).order(created_at: :asc).each do |t| %>
   <tr>
    <td>
      <div class="card mb-2">
        <div class="card-header py-3" id="headingOne">
            <div class="text-md font-weight-bold text-primary mb-2 ">
            <span class="text-gray-800"><%= t.created_at.strftime("%Y-%m-%d") %></span>
            <%= link_to t.player.fullname, t.player %> - <%= t.task_category.category %>
            <% if ! t.coach_id.nil? %>
            <span class="float-right text-gray-500"><%= t.get_coach.name %></span>
            <% end %>
            </div>
            
        </div>

        <div class="card-body py-3">
              
        <%= image_tag t.image.url, style: 'height:300px;width:200px;float:left;padding-right:15px;' if t.image? %>
        <p><%= t.task %></p>

          
        <% t.task_comments.each do |tc| %>
        <hr/> 
           <p class="text-gray-800" style="font-style: italic"> - 
            <%= tc.comment %>
            <small><%= tc.created_at.strftime("%d-%m-%Y") %></small>
            
           </p>
        <% end %>
          
        
      </div>
      <% if can? :update, Task %>
      <div class="card-footer py-3">
         
         <%= link_to "Done", add_progress_tasks_path + "?id=" + t.id.to_s, :class => "btn-sm btn-success mr-1 py-2 float-left" %> 
          <%= link_to "Comment", new_task_comment_path + "?task_id=" + t.id.to_s, :class => "btn-sm btn-primary py-2 float-left" %>
          <%= link_to 'Destroy', t, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn-sm btn-danger py-2 mr-1 float-right" %>
          <%= link_to "Edit", edit_task_path(t), :class => "btn-sm btn-info mr-1 py-2 float-right" %>
      </div>
      <% end %>
    </div>
    </td>
    </tr>
  <% end %>
  </tbody>
  </table>
