<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @stringing.customer %>
</p>

<p>
  <strong>Type of strings:</strong>
  <%= @stringing.type_of_strings %>
</p>

<p>
  <strong>Tension:</strong>
  <%= @stringing.tension %>
</p>

<p>
  <strong>Price:</strong>
  <%= @stringing.price %>
</p>

<p>
  <strong>Done:</strong>
  <%= @stringing.done %>
</p>

<p>
  <strong>Delivered:</strong>
  <%= @stringing.delivered %>
</p>

<p>
  <strong>Pick up:</strong>
  <%= @stringing.pick_up %>
</p>

<p>
  <strong>Paid:</strong>
  <%= @stringing.paid %>
</p>

<p>
  <strong>Registered by:</strong>
  <%= @stringing.registered_by %>
</p>

<p>
  <strong>Payment registration:</strong>
  <%= @stringing.payment_registration %>
</p>

<p>
  <strong>Payment type:</strong>
  <%= @stringing.payment_type %>
</p>

<%= link_to 'Edit', edit_stringing_path(@stringing) %> |
<%= link_to 'Back', stringings_path %>
