<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

     
  <div class="col-sm-12">
    <%= form.label :task_category_id %>
    </div>
    <div class="col-sm-12 mb-4">
     <%= form.collection_select :task_category_id, TaskCategory.all, :id, :category,:class => "form-control form-control-user" %>
  </div>
  <div class="col-sm-12 col-lg-6">
    <%= form.label :task %>
  </div>
  <div class="col-sm-12 col-lg-6 mb-4">
    <%= form.text_area :task, :class => "form-control form-control-user" %>

  </div>
  <div class="col-sm-12 col-lg-6 mb-4">
    <% if @task.image? %>
      <%= image_tag @task.image.url %>
    <% end %> 
    <%= form.file_field :image, :class => "form-control form-control-user" %>

  </div>


<% if @player.nil? %>
  <div class="field">
    <%= form.label :player_id %>
    <%= form.collection_select :player_id, Player.all, :id, :fullname %>
  </div>
<% else %>
<%= form.hidden_field :player_id, :value => @player.id %>
<% end %>

 

 
  <div class="col-sm-12 col-lg-6 mb-4">
    <%= form.submit :class => "btn btn-success" %>
  </div>
<% end %>
