<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @tournament.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @tournament.url %>
</p>

<p>
  <strong>U11:</strong>
  <%= @tournament.u11 %>
</p>

<p>
  <strong>U12:</strong>
  <%= @tournament.u12 %>
</p>

<p>
  <strong>U13:</strong>
  <%= @tournament.u13 %>
</p>

<p>
  <strong>U14:</strong>
  <%= @tournament.u14 %>
</p>

<p>
  <strong>U15:</strong>
  <%= @tournament.u15 %>
</p>

<p>
  <strong>U16:</strong>
  <%= @tournament.u16 %>
</p>

<p>
  <strong>U19:</strong>
  <%= @tournament.u19 %>
</p>

<%= link_to 'Edit', edit_tournament_path(@tournament) %> |
<%= link_to 'Back', tournaments_path %>
