<p id="notice"><%= notice %></p>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800"><%= @tournament.title %> <%= @tournament.start_date.strftime("%d-%m-%Y") %> - <%= @tournament.end_date.strftime("%m-%d-%Y") %></h1>
</div>

<div class="card shadow mb-4">
 <div class="card-header py-3">
<div class="row">
  <div class="col-xl-12 col-md-12 mb-1 ">
    <% if @tournament.club_trip? %>
      <i class="fas fa-plane-departure ml-2"></i>
    <% elsif @tournament.only_coach? %>
      <i class="fas fa-street-view ml-2"></i>
    <% end %>
    <b>Torunament for: </b>
        <%= @tournament.u11? ? " u11, " : "" %>
        <%= @tournament.u12? ? " u12, " : "" %>
        <%= @tournament.u13? ? " u13, " : "" %>
        <%= @tournament.u14? ? " u14, " : "" %>
        <%= @tournament.u15? ? " u15, " : "" %>
        <%= @tournament.u16? ? " u16, " : "" %>
        <%= @tournament.u17? ? " u17, " : "" %>
        <%= @tournament.u18? ? " u18, " : "" %>
        <%= @tournament.u19? ? " u19, " : "" %>
        <%= @tournament.senior? ? " Senior, " : "" %>
        <%= @tournament.pluss? ? " Pluss" : "" %>
  </div>  
</div>
</div>
<div class="card-body">
<div class="row">
  <div class="col-xl-12 col-md-12 mb-4">
    <ul class="list-group list-group-flush">
      <% if current_user.coach? || current_user.admin %>

       <% if @tournament.pluss? &&  %>
        <h5>Pluss players: </h5><br/>
          <% @tournament.players.each do |p| %>
            <li class="list-group-item">
                <%= link_to p.fullname, p  %> 
              <%= link_to remove_player_from_tournament_tournaments_path + "?player_id=" + p.id.to_s + 
              "&tournament_id=" + @tournament.id.to_s do %> <i class="fas fa-1x fa-minus-square ml-1"></i><% end %>
            </li><hr/>
          <% end %>
          <% else %>
          <li class="list-group-item">This is a public event for the choosen age group</li><hr/>
        <% end %>
      <% end %>
    <li class="list-group-item"> <b>Responsible:</b> <%= @tournament.user.nil? ? "" : @tournament.user.name + " - " + @tournament.user.email %> </li><hr/>
    <% if @tournament.club_trip? %>
    <li class="list-group-item"><b>Travel and hotel:</b> <%= @tournament.flight_hotel %> </li><hr/>
    <% end %>
    <li class="list-group-item"><b>Other info:</b> <%= @tournament.commet %> </li><hr/>
  </ul>
         
    
        
  </div>
</div>
</div>

  <div class="card-footer text-muted">
    
    
    <%= link_to "Go to tournament software", @tournament.url, :class => "btn btn-info",  target: '_blank' %>
    <% if current_user.admin? || current_user.coach? %>
    <%= link_to "Edit tournament", edit_tournament_path(@tournament), :class => "btn btn-warning" %>
    <% end %>

  </div> 
</div> 
  
 


<% if current_user.coach? || current_user.admin %>
<% if @tournament.pluss %>
  <h5>This is a pluss tournament you can add player:</h5>
<%= form_tag add_player_to_tournament_tournaments_path, method: :put do %>
<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
  <thead>
    <tr>
        <th></th>
        <th>Name</th>     
    </tr>
  </thead>
  <tbody>
    <%Player.all.each do |p|%>
      <tr>
        <td><%= check_box_tag "player_ids[]", p.id%></td>
        <td><%= p.fullname %> (<%= p.get_age %>) <%= p.gender.present? ? p.gender[0].chr : "NaN" %> </td>
       </tr>
  <% end %>
        </tbody>
        </table>
<div class="row-fluid">
  <%= hidden_field_tag "id", @tournament.id %>
  <%= submit_tag "Add Players", :class => "btn btn-primary" %>
  <% end %>
<% end %>
<% end %>
