<%= form_with(model: task_comment, local: true) do |form| %>
  <% if task_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task_comment.errors.count, "error") %> prohibited this task_comment from being saved:</h2>

      <ul>
        <% task_comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


 

    <div class="col-sm-12 col-lg-6 mb-4">
    <%= form.text_area :comment, :class => "form-control form-control-user" %>

  </div>
  <%= form.hidden_field :task_id, :value => @task.id %>
  



   <div class="col-sm-12 col-lg-6 mb-4">
    <%= form.submit "Save", :class => "btn btn-success" %>
  </div>
<% end %>
