<%= form_with(model: planet, local: true) do |form| %>
  <% if planet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(planet.errors.count, "error") %> prohibited this planet from being saved:</h2>

      <ul>
        <% planet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.text_field :age %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <%= form.text_field :color %>
  </div>
  <% if can? :assign_roles, @user %>
    <div class="col-sm-12 mb-4">
      <%= form.label :diary %>
      <%= form.check_box :diary %><br />
      <%= form.label :utr %>
      <%= form.check_box :utr %><br />
      <%= form.label :events %>
      <%= form.check_box :events %><br />
      <%= form.label :stats %>
      <%= form.check_box :stats %><br />
      <%= form.label :ironman %>
      <%= form.check_box :ironman %><br />
      <%= form.label :player_access %>
      <%= form.check_box :player_access %><br />
       <%= form.label :periodization %>
      <%= form.check_box :periodization %><br />
        <%= form.label :feedback %>
      <%= form.check_box :feedback %><br />
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
