<p id="notice"><%= notice %></p>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
	<h1 class="h3 mb-0 text-gray-800"><i class="fas fa-baseball-ball"></i> <%= @planet.title %></h1>
 </div>
 <hr/>






<div class="row">
	<div class="col-xl-12 col-md-12 mb-4">
		

			
		  	<div class="tab-pane active" id="players">
				<div class="col-xl-12 col-md-12 mb-4">
					 <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
						  <thead>
						    <tr>
						      <th>Name</th>
						      <th>UTR</th>
						      <th>W</th>
						      <th>L</th>
						      <th>T</th>
						      <th>Match reports last year</th>
						      <th>Tasks </th>
						      <th>Training last month</th>
						      <th>Training last year
						    </tr>
						  </thead>

						  <tbody>
						    <% @planet.players.each do |p| %>
						      <tr>
						        <td><%= link_to p.fullname, p  %> (<%= p.get_age %>)</td>
						        <td>
						        	<% if p.got_utr_profile? %>
						        	<%= p.get_utr %>
						        	<% else %>
						        	0
						        	<% end %>
						        	
						        </td>
						        <% if p.got_utr_profile? %>
						        <% m = p.get_matches %>
						        <td><%= m[0] %></td>
						        <td><%= m[1] %></td>
						        <td><%= m[2] %></td>
						        <% else %>
						        <td>0</td>
						        <td>0</td>
						        <td>0</td>
						        <% end %>
						      	<td><%= p.get_match_reports %></td>
						      	<td><%= p.get_tasks_last_year.count %>
						      		(<%= p.get_tasks_last_year.where(:done => true).count %>)
						      	</td>
						      	<td>
						      		<% if p.got_user? %>
						      		<%= p.get_training_this_month %>
						      		<% else %>
						      		0
						      		<% end %>
						      	</td>
						      	<td>
						      		<% if p.got_user? %>
						      		<%= p.get_training_this_year %>
						      		<% else %>
						      		0
						      		<% end %>
						      	</td>
						      </tr>
						    <% end %>
						  </tbody>
						</table>
				</div>
			</div>

	</div>
</div>
