<p id="notice"><%= notice %></p>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
	<h1 class="h3 mb-0 text-gray-800"><i class="fas fa-baseball-ball"></i> <%= @planet.title %> (<%= @planet.players.count %>)
		<small>stats last 12 months</small>
	</h1>
 </div>
 <% if @planet.has_periodization? %>
 <%= link_to "Show periodization", periodization_path(@planet.id) %>
 <% elsif @planet.periodization? %>
 <%= link_to "Create Periodization", make_periodization_planets_path + "?id=" + @planet.id.to_s %>
 <% end %>
 <hr/>






<div class="row">
	<div class="col-xl-12 col-md-12 mb-4">
		

			
		  	<div class="tab-pane active" id="players">
				<div class="col-xl-12 col-md-12 mb-4">
					 <table class="table table-bordered table-striped table-hover table-sm" id="dataTable" width="100%" cellspacing="0">
						  <thead>
						    <tr>
					    	  <th>User</th>
						      <th>Name</th>
						      <% if @planet.diary? %>
						      	<th>7 days</th>
						      	<th><%= DateTime.now.strftime("%b") %></th>
						      	<th>Egen tr. 12mnd</th>
						      <% end %>
						      <th>Tasks </th>
						      <th>Feedback</th>
						      <% if @planet.ironman? %>
						      	<th>Last test</th>
						      	<th>Imprv.</th>
						      <% end %>
						      <% if @planet.utr? %>
							      <th>UTR</th>
							      <th>W</th>
							      <th>L</th>
							      <th>T</th>
							      <th>%</th>
						      <% end %>
						      <% if @planet.stats? %>
						      	<th>Stats</th>
						      <% end %>
						    </tr>
						  </thead>

						  <tbody>
						    <% @planet.players.each do |p| %>
						      <tr>
						      	<td style="width:10px;text-align: center">
						      		<% if p.got_user? %>
										<i class="far fa-user fa"></i>
										<p style="display: none">1</p>
									<% else %>
										<i class="fas fa-user-alt-slash"></i>
										<p style="display: none">0</p>
									<% end %>

								</td>
						        <td>
						        	<%= link_to p.fullname, p  %> (<%= p.get_age %>)
						        </td>
						        <% if @planet.diary? %>
						        <td style="text-align: center">
						        	<i class="<%= p.get_rating[0] %>"></i> <span style="display: none"><%= p.get_rating[1] %> </span>
						        </td>
						      	<td>
						      		<% if p.got_user? %>
						      		<%= p.get_training_this_month / 60 %>
						      		<% else %>
						      		0
						      		<% end %>
						      	</td>
						      	<td>
						      		<% if p.got_user? %>
						      		<%= (p.get_tennis_trainings(false, true, DateTime.now) + p.get_physical_trainings(false, true, DateTime.now)) / 60 %>
						      		<% else %>
						      		0
						      		<% end %>
						      	</td>
						      	<% end %>
						      	<td><%= p.get_tasks_last_year.where(:done => false ).or(p.get_tasks_last_year.where(:done => nil )).count %>
						      		(<%= p.get_tasks_last_year.where(:done => true).count %>)
						      	</td>
						      	<td>
						      		<%= p.get_feedbacks_last_year.count %>
						      	</td>
						      	<% if @planet.ironman? %>
						      		<td><% if ! p.get_last_ironman.nil? %>
						      				<%= p.get_last_ironman.test_score.to_i %>
						      			<% else %> 
						      			0
						      			<% end %>
						      		</td>
						      		<td><%= p.get_diff_from_last_test[0] %> 
						      			<i class="<%= p.get_diff_from_last_test[1] %>" style="color:<%= p.get_diff_from_last_test[2] %>"></i> <small>(<%= p.get_diff_from_last_test[3] %> | <%= p.get_diff_from_last_test[4] %>)</small>
						      		</td>
						      	<% end %>
						        <% if @planet.utr? %>
						        <td>
						        	<% if p.got_utr_profile? %>
						        	<%= p.utr_stats["singlesUtr"] %>
						        	<% else %>
						        	0
						        	<% end %>	
						        </td>
						        <% if p.got_utr_profile? && ! p.utr_matches_array.nil?%>
						        <% m = p.utr_matches_array %>
							        
								        <td><%= m[0] %></td>
								        <td><%= m[1] %></td>
								        <td><%= m[2] %></td>
								        <td><%= m[3] %>%</td>
							    <% else %>
						        <td>0</td>
						        <td>0</td>
						        <td>0</td>
						        <td>0</td>
						        <% end %>

						        <% end %>

						        <% if @planet.stats? %>
						      	<td><%= p.get_match_reports %></td>
						      	<% end %>
						      </tr>
						    <% end %>
						  </tbody>
						</table>
				</div>
			</div>

	</div>
</div>
