<%= bootstrap_form_for(@test_group) do |form| %>
  <% if test_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(test_group.errors.count, "error") %> prohibited this test_group from being saved:</h2>

      <ul>
        <% test_group.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">

    <%= form.text_field :title %>
  </div>

  <div class="field">

    <%= form.date_select :date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
