<p id="notice"><%= notice %></p>

<h1>Utr Reports</h1>

<table>
  <thead>
    <tr>
      <th>Utr date</th>
      <th>Boys</th>
      <th>Girls</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @utr_reports.each do |utr_report| %>
      <tr>
        <td><%= utr_report.utr_date %></td>
        <td><%= utr_report.boys %></td>
        <td><%= utr_report.girls %></td>
        <td><%= link_to 'Show', utr_report %></td>
        <td><%= link_to 'Edit', edit_utr_report_path(utr_report) %></td>
        <td><%= link_to 'Destroy', utr_report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Utr Report', new_utr_report_path %>
