<%= form_with(model: type_of_training, local: true) do |form| %>
  <% if type_of_training.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(type_of_training.errors.count, "error") %> prohibited this type_of_training from being saved:</h2>

      <ul>
        <% type_of_training.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
