   <div class="d-sm-flex align-items-center justify-content-between mb-4">
	<h1 class="h3 mb-0 text-gray-800"><%= @user.name %> </h1>
   
  </div>
		<% if @user.got_profile? %>
			
			<p><small> Coach: <%= @user.got_coach? ? @user.get_coach.name : "No coach" %></small></p>
			<p> <small> Parent: <%= @user.got_parent? ? @user.get_parent.name : "No parent" %></small></p>
		<% else %>
			NO PROFILE
			
		<% end %>	
			
		<% if @user.got_profile? && !@user.got_parent? %>
			
			
				<% if @current_user.admin? %>
				<small>Add parent:</small> 
					<%= form_for(UserPlayer.new) do |f| %>
						<%= f.collection_select :user_id, User.where(parent: true), :id, :name, :class => "form-control form-control-user" %>
						<%= f.hidden_field :player_id, :value => @user.get_player_profile.id %>
						<%= f.submit "Save" , :class => "btn btn-success"%>
					<% end %>

				<% end %>
		<% end %>






	


<%= link_to "Go to my activity profile", @user.get_player_profile, :class => "btn btn-info" %>
<hr/>




