   <div class="d-sm-flex align-items-center justify-content-between mb-4">
	<h1 class="h3 mb-0 text-gray-800"><%= @user.name %> </h1>
   
  </div>
		<% if @user.got_profile? %>
			<p><%= @user.get_player_profile.age.strftime("%d-%m-%Y")  %> (<%= @user.get_age %> years)</p>
			<p><small> Coach: <%= @user.got_coach? ? @user.get_coach.name : "No coach" %></small></p>
			<p> <small> Parent: <%= @user.got_parent? ? @user.get_parent.name : "No parent" %></small></p>
		<% else %>
			NO PROFILE
			<% if current_user.admin? %>  
				<br/><small>Add profile:</small>               
				<%= form_for(UserPlayer.new) do |f| %>
					<%= f.collection_select :player_id, Player.all, :id, :name, :class => "form-control form-control-user" %>
					<%= f.hidden_field :user_id, :value => @user.id %>
					<%= f.submit "Save" , :class => "btn btn-success"%>
		   		<% end %>
			<% end %>
		<% end %>	
			
		<% if @user.got_profile? && !@user.got_parent? %>
			
			
				<% if @current_user.admin? %>
				<small>Add parent:</small> 
					<%= form_for(UserPlayer.new) do |f| %>
						<%= f.collection_select :user_id, User.where(parent: true), :id, :name, :class => "form-control form-control-user" %>
						<%= f.hidden_field :player_id, :value => @user.get_player_profile.id %>
						<%= f.submit "Save" , :class => "btn btn-success"%>
					<% end %>

				<% end %>
		<% end %>






	

<hr/>

<%= link_to "Go to activity profile", @user.get_player_profile %>

