



 <div class="row justify-content-center my-5">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    
                    <img class="mb-2" src="https://www.stavangertk.no/wp-content/uploads/2019/03/stavangertennisklubb_logo_liggende.svg" >
                    </div>
                    <div class="text-center">
                      <h3 class="mb-4 text-gray-700">LOG IN</h3>
                    </div>
                 
                    <div class="form-group mb-4">
                    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                     <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control form-control-user', placeholder: 'Username...' %>
                 
                    </div>
                    <div class="form-group mb-4">
                     <%= f.password_field :password,class: 'form-control form-control-user', placeholder: 'Pasword...'%>
                    </div>
                    <div class="form-group mb-4">
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me %>
                  </div>
                    <%= f.submit "Log in",  class: "btn btn-primary btn-user btn-block" %>
                    <hr>
                    
                
            <% end %>
                 <%= render "devise/shared/links" %>
                </div>

              </div>
             
            </div>
          </div>
        </div>

      </div>

    </div>

