<div class="row">

        		
<% @player.matches.each do |m| %>
<div class="col-xl-12">
	<div class="card shadow mb-4">
   	<div class="card-header py-3">
   		<div class="text-md font-weight-bold text-primary text-uppercase ">
       <%= m.player.fullname %> - <%= m.opponent %>
   		</div>
       <div class="text-md text-primary ">  
   		 <%= m.created_at.strftime("%d-%m-%Y") %>
      </div>
   		
    </div>
    <div class="card-body">

          <%= image_tag m.image.url, style: 'height:auto;max-width:350px;float:left' if m.image? %>
    </div>
     <div class="card-footer">
      <%= m.comment %>
     </div>
  </div>
</div>
<% end %>
</div>

