<div class="row-fluid">
 <div class="d-sm-flex align-items-center justify-content-between mb-4">
	<h1 class="h3 mb-0 text-gray-800"><%= @player.fullname + " " + @player.gender %> <%= @player.age.strftime("%d-%m-%Y")  %> (<%= @player.get_age %> years)
		<% if @player.got_user? %>
			<i class="far fa-user fa"></i>
		<% else %>
			<i class="fas fa-user-alt-slash"></i>
		<% end %>
 	</h1>
 </div>
 <hr/>
</div>

<div class="row-fluid">
	<div class="card shadow mb-4">
 		<div class="card-header py-1">
			<div class="row">
				<div class="col-xl-12 mb-4 ">
					<%= render 'players/partials/tabpan', player: @player %>
				</div>	
			</div>
		</div>
	<div class="card-body p-0">

	<div class="row-fluid">
		<div class="tab-content">
			
			<div class="tab-pane active" id="profile">
				<%= render 'players/partials/profile', player: @player %>
			</div>

			<div class="tab-pane" id="tasks">
				<%= render 'players/partials/tasks', player: @player %>	
			</div>
			
			<% if @player.planet.diary? %>
				<div class="tab-pane" id="diary">
					<%= render 'players/partials/diary', player: @player %>
				</div>
			<% end %>
			
			<% if @player.planet.ironman? %>
				<div class="tab-pane" id="ironman">
					<%= render 'layouts/ironman/ironman_table', player: @player %>
					<%= render 'players/partials/ironman_graph', player: @player %>
				</div>
				<div class="tab-pane" id="fys-program">
					<%= render 'players/partials/physical_prog', player: @player %>
					
				</div>
			<% end %>

			<% if @player.planet.events? %>
			<div class="tab-pane" id="turneringsplan">
				<%= render 'players/partials/events', player: @player %>
			</div>
			<% end %>
			
			
		<% if @player.planet.utr? && @player.got_utr_profile? && @player.get_age > 12 && @player.utr_stats["singlesUtr"].to_f > 5.00  %>
			<div class="tab-pane" id="utr">
				<%= render 'utr', player: @player %>
			</div>
		<% end %>

		<% if @player.planet.stats? %>
			<div class="tab-pane" id="match_stats">
				<% if can? :edit, Match %> 
					<div class="row mb-4 mt-4 ml-4">
						<%= link_to "New match stat", new_match_path + "?player_id=" + @player.id.to_s, :class => "btn btn-primary" %>
					</div>
				<% end %>
				<%= render 'matches', player: @player %>
			</div>
		<% end %>
		
		<% if current_user.coach? || current_user.admin? %>
			<div class="tab-pane" id="settings">

				<%= render 'players/partials/user_edit', player: @player %>

			</div>
		<% end %>
		</div>
	</div>
</div>
</div><!-- END CARD -->
</div><!-- END ROW -->
