<style>
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 8px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

#myInput {
  box-sizing: border-box;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown1 {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  max-height: 400px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown1 a:hover {background-color: #ddd;}

.show {display: block;}
.numberCircle {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px;
    border: 2px solid #00ab66;
    
    text-align: center;
}
</style>
<% if current_user.coach? || current_user.admin? %>
<div class="row-fluid">
 <div class="d-sm-flex align-items-center justify-content-between mb-4">
	<h1 class="h3 mb-0 text-gray-800">
		<% if @player.got_utr_profile? %>
		<span class="numberCircle"><%= @player.utr_stats["singlesUtr"] %></span>
		<% end %>
		<%= @player.fullname %> 
		
		<%= @player.gender %> <%= @player.age.strftime("%d-%m-%Y")  %> (<%= @player.get_age %> years)
		<% if @player.got_user? %>
			<i class="far fa-user fa"></i>
		<% else %>
			<i class="fas fa-user-alt-slash"></i>
		<% end %>
		<% if @player.competitor %>
		<i class="far fa-star"></i>
		<% end %>
		<%= link_to @player.planet.title, @player.planet %> 
 	</h1>

 </div>
 <hr/>
</div>

<div class="dropdown1">
  <button onclick="myFunction()" class="dropbtn mb-3">Search players <i class="fas fa-angle-double-down"></i></button>
  <div id="myDropdown" class="dropdown-content">
    <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
   	<% Player.all.each do |p| %>
   	<%= link_to p.fullname, p %> 
   	<% end %>
  </div>
</div>
<% end %>
<div class="row-fluid">
	<div class="card shadow mb-4">
 		<div class="card-header py-1">
			<div class="row">
				<div class="col-xl-12 mb-4 ">
					<%= render 'players/partials/tabpan', player: @player %>
				</div>	
			</div>
		</div>
	<div class="card-body p-0">

	<div class="row-fluid">
		<div class="tab-content">
			
			<div class="tab-pane active" id="profile">
				<%= render 'players/partials/profile', player: @player %>
			</div>

			<div class="tab-pane" id="tasks">
				<div class="row">
				<div class="col-md-6">
					<%= render 'players/partials/tasks', player: @player %>	
				</div>
				
				<div class="col-md-5 mt-4">
					<% if @player.goals.empty? || @current_user.coach? %>
						<%= link_to "Ny Målsettningsskjema", new_goal_path + "?player_id=" + @player.id.to_s, :class => "btn btn-primary pb-2 " %>
					<% end %>
					<% if !@player.goals.empty? %>
					<div class="card mb-2">
						<div class="card-header py-3" id="headingOne">
							<div class="text-md font-weight-bold text-primary mb-2 ">
								Målsettningsskjema
								<span class="text-gray-800"> <%= @player.goals.last.updated_at.strftime("%d-%m-%Y") %></span>
							</div>	   
						</div>
						<div class="card-body py-3">
							<h1 class="h4 mb-3 text-gray-800">Kortsiktige mål:</h1>
							<p><b>#1:</b> <%= @player.goals.last.short_one %></p>
							<p><b>#2:</b> <%= @player.goals.last.short_two %></p>
							<p><b>#3:</b> <%= @player.goals.last.short_three %></p>
							<hr/>
							<h1 class="h4 mb-3 text-gray-800">Mellomlange mål:</h1>
							<p><b>#1:</b> <%= @player.goals.last.medium_one %></p>
							<p><b>#2:</b> <%= @player.goals.last.medium_two %></p>
					
							<hr/>
							<h1 class="h4 mb-3 text-gray-800">Langsiktig mål:</h1>
							<p><b>#1:</b> <%= @player.goals.last.long %></p>
						
							<hr/>
							<h1 class="h4 mb-3 text-gray-800">Drøm:</h1>
							<p><b>#1:</b> <%= @player.goals.last.dream %></p>
							<hr/>
							<%= link_to "Rediger mål", edit_goal_path(@player.goals.last) + "?player_id=" + @player.id.to_s, :class => "btn btn-primary pb-2 "  %>

						</div>
					</div>
					<% end %>
				</div>
				
			</div>
			</div>
			
			<% if @player.planet.diary? %>
				<div class="tab-pane" id="diary">
					<%= render 'players/partials/diary', player: @player %>
				</div>
			<% end %>
			
			<% if @player.planet.ironman? %>
				<div class="tab-pane" id="ironman">
					<%= render 'layouts/ironman/ironman_table', player: @player %>
					<%= render 'players/partials/ironman_graph', player: @player %>
				</div>
				<div class="tab-pane" id="fys-program">
					<%= render 'players/partials/physical_prog', player: @player %>
					
				</div>
			<% end %>

			<% if @player.planet.events? %>
			<div class="tab-pane" id="turneringsplan">
				<%= render 'players/partials/events', player: @player %>
			</div>
			<% end %>
			
			
			
		<% if @player.planet.utr? && @player.got_utr_profile? && @player.get_age > 12 && @player.utr_stats["singlesUtr"].to_f > 5.00  %>
			<div class="tab-pane" id="utr">
				<%= render 'utr', player: @player %>
			</div>
		<% end %>

		<% if @player.planet.stats? %>
			<div class="tab-pane" id="match_stats">
				<% if can? :edit, Match %> 
					<div class="row mb-4 mt-4 ml-4">
						<%= link_to "+ New match stat", new_match_path + "?player_id=" + @player.id.to_s, :class => "btn btn-primary pb-2" %>
					</div>
				<% end %>
				<%= render 'matches', player: @player %>
			</div>
		<% end %>
		<% if current_user.coach? || current_user.admin? %>
			<div class="tab-pane" id="feedback">

				<%= render 'players/partials/feedback', player: @player %>

			</div>
		<% end %>
		<% if current_user.coach? || current_user.admin? %>
			<div class="tab-pane" id="notes">
				<%= render 'players/partials/notes', player: @player %>
			</div>
		<% end %>
		<% if current_user.coach? || current_user.admin? %>
			<div class="tab-pane" id="settings">

				<%= render 'players/partials/user_edit', player: @player %>

			</div>
		<% end %>
		</div>
	</div>
</div>
</div><!-- END CARD -->
</div><!-- END ROW -->
<script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

function filterFunction() {
  var input, filter, ul, li, a, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  div = document.getElementById("myDropdown");
  a = div.getElementsByTagName("a");
  for (i = 0; i < a.length; i++) {
    txtValue = a[i].textContent || a[i].innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      a[i].style.display = "";
    } else {
      a[i].style.display = "none";
    }
  }
}
</script>