 <div class="d-sm-flex align-items-center justify-content-between mb-4">
	<h1 class="h3 mb-0 text-gray-800"><%= @player.fullname + " " + @player.gender %> <%= @player.age.strftime("%d-%m-%Y")  %> (<%= @player.get_age %> years)
		<% if @player.got_user? %>
			<i class="far fa-user fa"></i>
		<% else %>
			<i class="fas fa-user-alt-slash"></i>
		<% end %>
 	</h1>
 </div>
 <hr/>
<div class="row">	
	
</div>

<div class="card shadow mb-4">
 <div class="card-header py-1">
<div class="row">
	<div class="col-xl-12 col-md-12 mb-4 ">
		<ul class="nav nav-tabs">
		   <li class="nav-item "><a href="#profile" data-toggle="tab" class="nav-link text-secondary active">Profile</a></li>
		   
		   <li class="nav-item "><a href="#ironman" data-toggle="tab" class="nav-link text-secondary">Ironman</a></li>
		   <li class="nav-item "><a href="#tasks" data-toggle="tab" class="nav-link text-secondary">Tasks</a></li>
		   <li class="nav-item "><a href="#fys-program" data-toggle="tab" class="nav-link text-secondary">Physical program</a></li>
		   
		   <li class="nav-item "><a href="#turneringsplan" data-toggle="tab" class="nav-link text-secondary">Tournament plan</a></li>
		   <% if current_user.admin? || current_user.coach? %>
		   <li class="nav-item "><a href="#settings" data-toggle="tab" class="nav-link text-secondary">Settings</a></li>
		   <% end %>
		</ul>
	</div>	
</div>
</div>
<div class="card-body">
<div class="row">
	<div class="col-xl-12 col-md-12 mb-4">
		<div class="tab-content">

			
			  <div class="tab-pane active" id="profile">
				<div class="col-xl-12 col-md-12 mb-4">
				
				  	<p>Parent: <%=  @player.got_parent? ? @player.parent.name : "NO PARENT" %></p>
				  	<p>Coach: <%= @player.got_coach? ? @player.coach.name : "NO COACH" %></p>				 
				  	<p>Planet: 
				  		<% if @player.planet.present? %>
				  		<%= link_to @player.planet.title, @player.planet %>
				  		<% else %>
				  		NO PLANET
				  		<% end %>
				  	</p>
				</div>
			</div>
			
			

			<div class="tab-pane" id="ironman">
				<%= render 'layouts/ironman/ironman_table', player: @player %>
				<h4 class= "text-gray-800">Sprint</h4>
				<div class="col-xl-12 col-md-12 mb-4">
					<%= line_chart @player.tests.pluck(:created_at, :sprint), min: 0, max: 4  %>
				</div>
				<h4 class= "text-gray-800">Spider</h4>
				<div class="col-xl-12 col-md-12 mb-4">
					<%= line_chart @player.tests.pluck(:created_at, :spider), min: 0, max: 24  %>
				</div>
				<h4 class= "text-gray-800">Fh throw</h4>
				<div class="col-xl-12 col-md-12 mb-4">
					<%= line_chart @player.tests.pluck(:created_at, :fh_throw), min: 0, max: 20  %>
				</div>
				<h4 class= "text-gray-800">Bh throw</h4>
				<div class="col-xl-12 col-md-12 mb-4">
					<%= line_chart @player.tests.pluck(:created_at, :bh_throw), min: 0, max: 20  %>
				</div>
				<h4 class= "text-gray-800">Jump</h4>
				<div class="col-xl-12 col-md-12 mb-4">
					<%= line_chart @player.tests.pluck(:created_at, :jump), min: 0, max: 4  %>
				</div>
				<h4 class= "text-gray-800">Box jump</h4>
				<div class="col-xl-12 col-md-12 mb-4">
					<%= line_chart @player.tests.pluck(:created_at, :box), min: 0, max: 130  %>
				</div>
				<h4 class= "text-gray-800">Chins</h4>
				<div class="col-xl-12 col-md-12 mb-4">
					<%= line_chart @player.tests.pluck(:created_at, :chins), min: 0, max: 35  %>
				</div>
				<h4 class= "text-gray-800">Push ups</h4>
				<div class="col-xl-12 col-md-12 mb-4">
					<%= line_chart @player.tests.pluck(:created_at, :pushups), min: 0, max: 100  %>
				</div>
				<h4 class= "text-gray-800">Brutal bench</h4>
				<div class="col-xl-12 col-md-12 mb-4">
					<%= line_chart @player.tests.pluck(:created_at, :situps), min: 0, max: 30  %>
				</div>
				<h4 class= "text-gray-800">Back stretch</h4>
				<div class="col-xl-12 col-md-12 mb-4">
					<%= line_chart @player.tests.pluck(:created_at, :back_stretch), min: 0, max: 70  %>
				</div>
				<h4 class= "text-gray-800">Front stretch</h4>
				<div class="col-xl-12 col-md-12 mb-4">
					<%= line_chart @player.tests.pluck(:created_at, :front_stretch), min: 0, max: 50  %>
				</div>
				<h4 class= "text-gray-800">Beep</h4>
				<div class="col-xl-12 col-md-12 mb-4">
					<%= line_chart @player.tests.pluck(:created_at, :beep), min: 0, max: 150  %>
				</div>
			</div>

			<div class="tab-pane" id="tasks">
				
				<div id="accordion">
				  <div class="card">
				    <div class="card-header" id="headingOne">
				      <h5 class="mb-0">
				        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				          Tasks in progress
				        </button>
				      </h5>
				    </div>

				    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
				      <div class="card-body">
					        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
							<thead>
								<th>Category</th>
								<th>Task</th>
								<th>Last comment</th>
								<% if can? :edit, Task %>
								<th></th>
								<% end %>
							</thead>
							<tbody>
								<% @tasks.each do |t| %>
								<tr>
									<td><%= t.task_category.category %></td>
									<td><%= t.created_at.strftime("%d-%m-%Y") + ": " + t.task %></td>
									
									<td>

										<% if ! t.task_comments.empty? %>
											<% t.task_comments.each do |tc| %>
												<p>
													<%= tc.created_at.strftime("%d-%m-%Y:") %>
													<i><%= tc.comment %></i>
													 <% if can? :edit, TaskComment %>
													<small>| <%= link_to "Edit", edit_task_comment_path(tc) + "?task_id=" + t.id.to_s %>
													</small>
													<% end %>
												</p>
											<% end %>
										<% else %>
										<% end %>
										<% if can? :edit, TaskComment %>
										 <p><%= link_to "Add comment", new_task_comment_path + "?task_id=" + t.id.to_s %></p>
										 <% end %>


																						
										
								 	</td>
							 		<% if can? :edit, Task %>
								 		<td>
								 			<%= link_to "Edit", edit_task_path(t) %>
								 			| <%= link_to 'Destroy', t, method: :delete, data: { confirm: 'Are you sure?' } %>  
								 			
									 			| <%= link_to "Done", add_progress_tasks_path + "?id=" + t.id.to_s, :class => "btn btn-success" %> 
									 			
							 				
							 			</td>
							 		<% end %>
								 	</tr>	
								<% end %>
							</tbody>
						</table>
				<% if can? :update, Task %>
				<%= link_to "Add task", new_task_path + "?player_id=" + @player.id.to_s, :class => "btn btn-primary" %>
				<% end %>
				      </div>
				    </div>
				  </div>
				  <div class="card">
				    <div class="card-header" id="headingTwo">
				      <h5 class="mb-0">
				        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
				          Completed tasks
				        </button>
				      </h5>
				    </div>
				    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
				      <div class="card-body">
				        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
							<thead>
								<th>Category</th>
								<th>Task</th>
								<th>Last comment</th>
								<% if can? :edit, Task %>
								<th></th>
								<% end %>
							</thead>
							<tbody>
								<% @completed_tasks.each do |t| %>
								<tr>
									<td><%= t.task_category.category %></td>
									<td><%= t.created_at.strftime("%d-%m-%Y") + ": " + t.task %></td>
									
									<td>
										
										
								 		<%= t.done? ? "Done: " + t.done_date.strftime("%d-%m-%Y") : "" %>
								 		
								 	</td>
							 		<% if can? :edit, Task %>
								 		<td>
								 			<%= link_to "Edit", edit_task_path(t) %>  
								 			| <%= link_to "Undo", add_progress_tasks_path + "?id=" + t.id.to_s, :class => "btn btn-danger" %> 
							 			</td>
							 		<% end %>
								 	</tr>	
								<% end %>
							</tbody>
						</table>
				      </div>
				    </div>
				  </div>
				  
				</div>
				
			</div>
			<div class="tab-pane" id="fys-program">
				
				<div class="row">
					<div class="col-xl-12 col-md-12 mb-4">
						<ul class="nav nav-tabs">
						   <li class="nav-item "><a href="#program1" data-toggle="tab" class="nav-link active">Program 1</a></li>
						   <li class="nav-item "><a href="#program2" data-toggle="tab" class="nav-link">Program 2</a></li>
						</ul>
					</div>
				</div>	

				<div class="row">
					<div class="col-xl-12 col-md-12 mb-4">
						<div class="tab-content">
							<% if !@player.get_last_ironman.nil?  %>
					  		<div class="tab-pane active" id="program1">
					  			<h1 class="h4 mb-0 text-gray-800"><%= @player.get_training_programs[0] %></h1>
					  			<% if  @player.get_training_programs[0] == "Empty" %>
					  				<h1 class="h4 mb-0 text-gray-800 mb-5"><%= @player.get_training_programs[1] %>  </h1><br/>
					  			<% else %>
								<iframe src= "<%= @player.get_training_programs[1] %>" width="750"style="border: none;  width:100%; height:750px;"> </iframe>
								<% end %>
							</div>
							<div class="tab-pane" id="program2">
								<h1 class="h4 mb-0 text-gray-800"><%= @player.get_training_programs[2] %></h1>
								
					  			<% if  @player.get_training_programs[2] == "Empty" %>
					  				<h1 class="h4 mb-0 text-gray-800 mb-5"><%= @player.get_training_programs[1] %>  </h1><br/>
					  			<% else %>
								<iframe src= "<%= @player.get_training_programs[3] %>" width="750"style="border: none;  width:100%; height:750px;"> </iframe>
								<% end %>
							</div>
							<% else %>
								<div class="tab-pane active" id="program1">
								<h1 class="h4 mb-0 text-gray-800">Du har ikke gjennomført noen tester enda. Anbefaller at du gjør basis fys-program for hele kroppen. </h1><br/>
					  			
								<iframe src= "https://app.gomobilus.com/se/open/Mjg3NnxNVEE0TURVPXwxNTJ8LWtaM0MqV0RCaXQ%3D?fbclid=IwAR26rcI1Cj_vPZwq0Xjq9vFXjCYphoQRr56AmQl_V1B_E9gmRVdkfT2AcfU" width="750"style="border: none;  width:100%; height:750px;"> </iframe>
							</div>
							<% end %>
						</div>
					</div>
				</div>		
			</div>
			
			<div class="tab-pane" id="turneringsplan">
				<h1 class="h5 mb-0 text-gray-800 mb-4"><i class="fas fa-plane-departure"></i> = Klubbtur </h1>
				<h1 class="h5 mb-0 text-gray-800 mb-4"><i class="fas fa-street-view"></i> = Trener til stede</h1>
				<% today_week = DateTime.now.strftime("%U").to_i %>
				<% date = 5.weeks.ago(DateTime.now) %>
				<% start_week = today_week - 5 %>
				<% end_week = start_week + 52 %>
				<table class="table table-bordered table-striped" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>Week (date)</th>
							<th>Tournament</th>
							<th></th>

						
						</tr>
					</thead>
					<tbody>
				<% (start_week..end_week).each do |w| %>
				
					
						<tr>
							<td style="width: 200px"><b><%= date.strftime("%U").to_i %></b>
							(<%= date.monday.strftime("%d")  + "." + date.strftime("%b")+ " - " + date.sunday.strftime("%d") + "." + date.sunday.strftime("%b") %>)
							</td>
							<td><% @tournaments.each do |t| %>
									<% if t.start_date.strftime("%U").to_i == w && t.start_date.year == date.year %>
									<%= link_to t.title, t, target: "_blank" %>
									<% if t.club_trip? %>
										<i class="fas fa-plane-departure ml-2"></i>
									<% elsif t.only_coach? %>
										<i class="fas fa-street-view ml-2"></i>
									<% end %>
									<hr/>
									<% end %>
									
								<% end %>	 

								<% @player.tournaments.each do |t| %>
									<% if t.start_date.strftime("%U").to_i == w && t.start_date.year == date.year %>
									<%= link_to t.title, t %>
									<% if t.club_trip? %>
										<i class="fas fa-plane-departure ml-2"></i>
									<% elsif t.only_coach? %>
										<i class="fas fa-street-view ml-2"></i>
									<% end %>
									<hr/>
									<% end %>

								<% end %>
							</td>
							<td></td>
							
							
						</tr>
						
						<% date = 1.week.since(date) %>
				
				<% end %>
					</tbody>
				</table>
			</div>
			<% if current_user.coach? || current_user.admin? %>
				<div class="tab-pane" id="settings">
					<div class="col-xl-12 col-md-12 mb-4">	
					<% if current_user.admin? %>
						<% if !@player.got_user? %>  
							<br/><small>Add profile:</small>               
							<%= form_for UserPlayer.new do |f| %>
								<%= f.collection_select :user_id, User.where(parent: false, coach: false, admin: false), :id, :name, :class => "form-control form-control-user", :include_blank => 'choose user' %>
								<%= f.hidden_field :player_id, :value => @player.id %>
								<%= f.submit "Save" , :class => "btn btn-success"%>
							<% end %>
						
						<% end %>

						<% if !@player.got_parent? %>  
							<br/><small>Add parent:</small>               
							<%= form_for UserPlayer.new do |f| %>
								<%= f.collection_select :user_id, User.where(parent: true), :id, :name, :class => "form-control form-control-user", :include_blank => 'choose user' %>
								<%= f.hidden_field :player_id, :value => @player.id %>
								<%= f.submit "Save" , :class => "btn btn-success"%>
							<% end %>
						
						<% end %>
						<% if !@player.got_coach? && current_user.admin? %>  
							<br/><small>Add coach:</small>               
							<%= form_for UserPlayer.new do |f| %>
								<%= f.collection_select :user_id, User.where(coach: true), :id, :name, :class => "form-control form-control-user", :include_blank => 'choose user' %>
								<%= f.hidden_field :player_id, :value => @player.id %>
								<%= f.submit "Save" , :class => "btn btn-success"%>
							<% end %>
						
						<% end %>

					<% end %>
						<h3>Level</h3>
						<%= form_for @player do |f| %>
								<%= f.collection_select :level_id, Level.all, :id, :name, :class => "form-control form-control-user" %>
								
								<%= f.submit "Add level" , :class => "btn btn-success"%>
							<% end %>
						<h3>Planet</h3>
						<%= form_for @player do |f| %>
								<%= f.collection_select :planet_id, Planet.all, :id, :title, :class => "form-control form-control-user" %>
								
								<%= f.submit "Add planet" , :class => "btn btn-success"%>
							<% end %>
					</div>
				</div>
			<% end %>

		</div>
	</div>
</div>
</div>
</div>