 <div class="d-sm-flex align-items-center justify-content-between mb-4">
	<h1 class="h3 mb-0 text-gray-800"><%= @player.fullname %> <%= @player.age.strftime("%d-%m-%Y")  %> (<%= @player.get_age %> years)
		<% if @player.got_user? %>
			<i class="far fa-user fa"></i>
		<% else %>
			<i class="fas fa-user-alt-slash"></i>
		<% end %>
 	</h1>
 </div>
 <hr/>
<div class="row">	
	
</div>

<div class="card shadow mb-4">
 <div class="card-header py-1">
<div class="row">
	<div class="col-xl-12 col-md-12 mb-4 ">
		<ul class="nav nav-tabs">
		   <li class="nav-item "><a href="#profile" data-toggle="tab" class="nav-link text-secondary active">Profile</a></li>
		   <li class="nav-item "><a href="#levels" data-toggle="tab" class="nav-link text-secondary">Level archive</a></li>
		   <li class="nav-item "><a href="#ironman" data-toggle="tab" class="nav-link text-secondary">Ironman</a></li>
		   <li class="nav-item "><a href="#tasks" data-toggle="tab" class="nav-link text-secondary">Tasks</a></li>
		    <li class="nav-item "><a href="#practice" data-toggle="tab" class="nav-link text-secondary">Fys training</a></li>
		   <% if current_user.admin? || current_user.coach? %>
		   <li class="nav-item "><a href="#settings" data-toggle="tab" class="nav-link text-secondary">Settings</a></li>
		   <% end %>
		</ul>
	</div>	
</div>
</div>
<div class="card-body">
<div class="row">
	<div class="col-xl-12 col-md-12 mb-4">
		<div class="tab-content">

			
			  <div class="tab-pane active" id="profile">
				<div class="col-xl-12 col-md-12 mb-4">
				
				  	<p>Parent: <%=  @player.got_parent? ? @player.parent.name : "NO PARENT" %></p>
				  	<p>Coach: <%= @player.got_coach? ? @player.coach.name : "NO COACH" %></p>				 
				  	<p>Planet: 
				  		<% if @player.planet.title.present? %>
				  		<%= link_to @player.planet.title, @player.planet %>
				  		<% else %>
				  		NO PLANET
				  		<% end %>
				  		
				  	</p>
				  	

				  	<% if @player.got_level? %>
				  		<% stickers = @player.stickers.pluck(:id) %>
				  		<%= link_to @player.level do %>
				  			<h3 class="h4 mb-2 text-gray-800"><%= @player.level.name %></h3>
				  		<% end %>
			  			<% if @player.level.got_stickers? %>
			  				<h3 class="h5 mb-2 text-gray-800">Stickers:</h3>
			  			<% end %>
				  		
				  		<% @player.level.stickers.each do |s| %>
				  		<p><%= s.name %> 

				  		
					  		<% if s.id.in?(stickers)%>
					  			- <%= @player.player_stickers.where(sticker_id: s.id).first.created_at.strftime("%d-%m-%Y") %> 
					  			<% if can? :edit, Level %>
					  				<%= link_to delete_sticker_players_path + "?player_id=" + @player.id.to_s + "&sticker_id=" + s.id.to_s do%>
					  				<i class="fas fa-minus-square"></i>
					  			<% end %>
					  			<% end %>
					  		<% else %>
					  		<% if can? :edit, Level %>
						  		<%= link_to add_sticker_players_path + "?player_id=" + @player.id.to_s + "&sticker_id=" + s.id.to_s do %>
						  			<i class="fas fa-plus-square"></i>
						  		<% end %>
					  		<% end %>
				  		<% end %>
				  		 </p>
				  		
				  	<% end %>
				  	


				  	<% else %>
				  		<p>NO LEVEL</p>
				  	<% end %>



				</div>
			</div>
			
			<div class="tab-pane" id="levels">
				<div class="col-xl-12 col-md-12 mb-4">

				  		<% stickers = @player.stickers.pluck(:id) %>
				  	
				  		<% @player.stickers.each do |s| %>
				  		<p><%= link_to s.name, s.level %> - <%= @player.player_stickers.where(sticker_id: s.id).first.created_at.strftime("%d-%m-%Y") %>
				  			<% if s.trophy? %>
				  			<i class="fas fa-trophy"></i>
				  			<% end %>
				  			<% if can? :edit, Level %>
				  				<%= link_to delete_sticker_players_path + "?player_id=" + @player.id.to_s + "&sticker_id=" + s.id.to_s do%>
					  				<i class="fas fa-minus-square"></i>
				  				<% end %>
					  		<% end %>
				  		<% end %>
				  		 </p>
				  		
				 

				</div>
			</div>

			<div class="tab-pane" id="ironman">
				<%= render 'layouts/ironman/ironman_table', player: @player %>
			</div>

			<div class="tab-pane" id="tasks">
				<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
					<thead>
						<th>Category</th>
						<th>Task</th>
						<th>Progress</th>
						<% if can? :edit, Task %>
						<th></th>
						<% end %>
					</thead>
					<tbody>
						<% @player.tasks.each do |t| %>
						<tr>
							<td><%= t.task_category.category %></td>
							<td><%= t.created_at.strftime("%d-%m-%Y") + ": " + t.task %></td>
							
							<td>
								
								<div class="progress">
									 
							  		<div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: <%= t.progress %>%;" aria-valuenow="<%= t.progress %>" aria-valuemin="0" aria-valuemax="100">
							  			<%= t.progress %>%
							  		</div>
						 		</div>
						 		<%= t.done? ? "Done: " + t.done_date.strftime("%d-%m-%Y") : "" %>
						 		
						 	</td>
					 		<% if can? :edit, Task %>
						 		<td>
						 			<%= link_to "Edit", edit_task_path(t) %>  
						 			<% if t.done? %>
						 			<% else%>
							 			| <%= link_to add_progress_tasks_path + "?progress=5" + "&id=" + t.id.to_s do %> 
							 			<i class="fas fa-plus-square"></i> 5%
						 				<% end %>
					 				<% end %>
					 			</td>
					 		<% end %>
						 	</tr>	
						<% end %>
					</tbody>
				</table>
				<%= link_to "Add task", new_task_path + "?player_id=" + @player.id.to_s, :class => "btn btn-primary" %>
			</div>
			<div class="tab-pane" id="practice">
				
				<div class="row">
					<div class="col-xl-12 col-md-12 mb-4">
						<ul class="nav nav-tabs">
						   <li class="nav-item "><a href="#program1" data-toggle="tab" class="nav-link active">Program 1</a></li>
						   <li class="nav-item "><a href="#program2" data-toggle="tab" class="nav-link">Program 2</a></li>
						</ul>
					</div>
				</div>	

				<div class="row">
					<div class="col-xl-12 col-md-12 mb-4">
						<div class="tab-content">
							<% if !@player.get_last_ironman.nil?  %>
					  		<div class="tab-pane active" id="program1">
					  			<%= @player.get_training_programs[0] %>
					  			<% if  @player.get_training_programs[0] == "Empty" %>
					  				<h1 class="h4 mb-0 text-gray-800"><%= @player.get_training_programs[1] %>  </h1><br/>
					  			<% else %>
								<iframe src= "<%= @player.get_training_programs[1] %>" width="750"style="border: none;  width:100%; height:750px;"> </iframe>
								<% end %>
							</div>
							<div class="tab-pane" id="program2">
								<%= @player.get_training_programs[2] %>
								
					  			<% if  @player.get_training_programs[2] == "Empty" %>
					  				<h1 class="h4 mb-0 text-gray-800"><%= @player.get_training_programs[1] %>  </h1><br/>
					  			<% else %>
								<iframe src= "<%= @player.get_training_programs[3] %>" width="750"style="border: none;  width:100%; height:750px;"> </iframe>
								<% end %>
							</div>
							<% else %>
								<div class="tab-pane active" id="program1">
								<h1 class="h4 mb-0 text-gray-800">Du har ikke gjennomført noen tester enda. Anbefaller at du gjør basis fys-program for hele kroppen. </h1><br/>
					  			
								<iframe src= "https://app.gomobilus.com/se/open/Mjg3NnxNVEE0TURVPXwxNTJ8LWtaM0MqV0RCaXQ%3D?fbclid=IwAR26rcI1Cj_vPZwq0Xjq9vFXjCYphoQRr56AmQl_V1B_E9gmRVdkfT2AcfU" width="750"style="border: none;  width:100%; height:750px;"> </iframe>
							</div>
							<% end %>
						</div>
					</div>
				</div>		
			</div>

			<% if current_user.coach? || current_user.admin? %>
				<div class="tab-pane" id="settings">
					<div class="col-xl-12 col-md-12 mb-4">	
					<% if current_user.admin? %>
						<% if !@player.got_user? %>  
							<br/><small>Add profile:</small>               
							<%= form_for UserPlayer.new do |f| %>
								<%= f.collection_select :user_id, User.where(parent: false, coach: false, admin: false), :id, :name, :class => "form-control form-control-user", :include_blank => 'choose user' %>
								<%= f.hidden_field :player_id, :value => @player.id %>
								<%= f.submit "Save" , :class => "btn btn-success"%>
							<% end %>
						
						<% end %>

						<% if !@player.got_parent? %>  
							<br/><small>Add parent:</small>               
							<%= form_for UserPlayer.new do |f| %>
								<%= f.collection_select :user_id, User.where(parent: true), :id, :name, :class => "form-control form-control-user", :include_blank => 'choose user' %>
								<%= f.hidden_field :player_id, :value => @player.id %>
								<%= f.submit "Save" , :class => "btn btn-success"%>
							<% end %>
						
						<% end %>
						<% if !@player.got_coach? && current_user.admin? %>  
							<br/><small>Add coach:</small>               
							<%= form_for UserPlayer.new do |f| %>
								<%= f.collection_select :user_id, User.where(coach: true), :id, :name, :class => "form-control form-control-user", :include_blank => 'choose user' %>
								<%= f.hidden_field :player_id, :value => @player.id %>
								<%= f.submit "Save" , :class => "btn btn-success"%>
							<% end %>
						
						<% end %>

					<% end %>
						<h3>Level</h3>
						<%= form_for @player do |f| %>
								<%= f.collection_select :level_id, Level.all, :id, :name, :class => "form-control form-control-user" %>
								
								<%= f.submit "Add level" , :class => "btn btn-success"%>
							<% end %>
						<h3>Planet</h3>
						<%= form_for @player do |f| %>
								<%= f.collection_select :planet_id, Planet.all, :id, :title, :class => "form-control form-control-user" %>
								
								<%= f.submit "Add planet" , :class => "btn btn-success"%>
							<% end %>
					</div>
				</div>
			<% end %>

		</div>
	</div>
</div>
</div>
</div>