 <div class="d-sm-flex align-items-center justify-content-between mb-4">
	<h1 class="h3 mb-0 text-gray-800"><%= @player.fullname %> <%= @player.age.strftime("%d-%m-%Y")  %> (<%= @player.get_age %> years)
		<% if @player.got_user? %>
			<i class="far fa-user fa"></i>
		<% else %>
			<i class="fas fa-user-alt-slash"></i>
		<% end %>
 	</h1>
 </div>
 <hr/>
<div class="row">	
	
</div>


<div class="row">
	<div class="col-xl-12 col-md-12 mb-4">
		<ul class="nav nav-tabs">
		   <li class="nav-item "><a href="#profile" data-toggle="tab" class="nav-link active">Profile</a></li>
		   <li class="nav-item "><a href="#ironman" data-toggle="tab" class="nav-link">Ironman</a></li>
		    <li class="nav-item "><a href="#practice" data-toggle="tab" class="nav-link">Fys training</a></li>
		   <% if current_user.admin? %>
		   <li class="nav-item "><a href="#settings" data-toggle="tab" class="nav-link">Settings</a></li>
		   <% end %>
		</ul>
	</div>	
</div>

<div class="row">
	<div class="col-xl-12 col-md-12 mb-4">
		<div class="tab-content">

			
			  <div class="tab-pane active" id="profile">
				<div class="col-xl-12 col-md-12 mb-4">
				  	<% if @player.got_parent? %>
				  	<p>Parent: <%= @player.parent.name %></p>
				  	<% else %>
				  	<p>NO PARENT</p>
				  	<% end %>
				  		
				  	<% if @player.got_coach? %>
				  		<p>Coach: <%= @player.coach.name %></p>
				  	<% else %>
				  		<p>NO COACH</p>
				  	<% end %>	
				</div>
			</div>
			
			

			<div class="tab-pane" id="ironman">
				<%= render 'layouts/ironman/ironman_table', player: @player %>
			</div>
			<div class="tab-pane" id="practice">
				
				<div class="row">
					<div class="col-xl-12 col-md-12 mb-4">
						<ul class="nav nav-tabs">
						   <li class="nav-item "><a href="#program1" data-toggle="tab" class="nav-link active">Program 1</a></li>
						   <li class="nav-item "><a href="#program2" data-toggle="tab" class="nav-link">Program 2</a></li>
						</ul>
					</div>
				</div>	

				<div class="row">
					<div class="col-xl-12 col-md-12 mb-4">
						<div class="tab-content">
							<% if !@player.get_last_ironman.nil?  %>
					  		<div class="tab-pane active" id="program1">
					  			<%= @player.get_training_programs[0] %>
					  			<% if  @player.get_training_programs[0] == "Empty" %>
					  				<h1 class="h4 mb-0 text-gray-800">Du har gjennomført ny test program er ikke oppdatert av trener enda.  </h1><br/>
					  			<% else %>
								<iframe src= "<%= @player.get_training_programs[1] %>" width="750"style="border: none;  width:100%; height:750px;"> </iframe>
								<% end %>
							</div>
							<div class="tab-pane" id="program2">
								<%= @player.get_training_programs[2] %>
								
					  			<% if  @player.get_training_programs[2] == "Empty" %>
					  				<h1 class="h4 mb-0 text-gray-800"><%= @player.get_training_programs[1] %>  </h1><br/>
					  			<% else %>
								<iframe src= "<%= @player.get_training_programs[3] %>" width="750"style="border: none;  width:100%; height:750px;"> </iframe>
								<% end %>
							</div>
							<% else %>
								<div class="tab-pane" id="program1">
								<h1 class="h4 mb-0 text-gray-800"> </h1><br/>
					  			
								<iframe src= "https://app.gomobilus.com/se/open/Mjg3NnxNVEE0TURVPXwxNTJ8LWtaM0MqV0RCaXQ%3D?fbclid=IwAR26rcI1Cj_vPZwq0Xjq9vFXjCYphoQRr56AmQl_V1B_E9gmRVdkfT2AcfU" width="750"style="border: none;  width:100%; height:750px;"> </iframe>
							</div>
							<% end %>
						</div>
					</div>
				</div>		
			</div>

			<% if current_user.admin? %>
				<div class="tab-pane" id="settings">
					<div class="col-xl-12 col-md-12 mb-4">	
						<% if !@player.got_user? %>  
							<br/><small>Add profile:</small>               
							<%= form_for UserPlayer.new do |f| %>
								<%= f.collection_select :user_id, User.where(parent: false, coach: false, admin: false), :id, :name, :class => "form-control form-control-user", :include_blank => 'choose user' %>
								<%= f.hidden_field :player_id, :value => @player.id %>
								<%= f.submit "Save" , :class => "btn btn-success"%>
							<% end %>
						
						<% end %>

						<% if !@player.got_parent? %>  
							<br/><small>Add parent:</small>               
							<%= form_for UserPlayer.new do |f| %>
								<%= f.collection_select :user_id, User.where(parent: true), :id, :name, :class => "form-control form-control-user", :include_blank => 'choose user' %>
								<%= f.hidden_field :player_id, :value => @player.id %>
								<%= f.submit "Save" , :class => "btn btn-success"%>
							<% end %>
						
						<% end %>
						<% if !@player.got_coach? && current_user.admin? %>  
							<br/><small>Add coach:</small>               
							<%= form_for UserPlayer.new do |f| %>
								<%= f.collection_select :user_id, User.where(coach: true), :id, :name, :class => "form-control form-control-user", :include_blank => 'choose user' %>
								<%= f.hidden_field :player_id, :value => @player.id %>
								<%= f.submit "Save" , :class => "btn btn-success"%>
							<% end %>
						
						<% end %>
					</div>
				</div>
			<% end %>

		</div>
	</div>
</div>

