<div class="row">	
	
<div class="col-xl-12 col-md-12 mb-4 ">
<p>Wins: <%= @json_response.parsed_response["wins"] %></p>
<p>Losses: <%= @json_response.parsed_response["losses"] %></p>


<% @json_response.parsed_response["events"].each do |ev|  %>
	<p><%= ev["name"] %> Dato:<%= DateTime.parse(ev["startDate"]).strftime(" %d-%m-%Y") %></p>

	<% ev["draws"][0]["results"].each do |res| %>
		<p><%= res["players"]["winner1"]["firstName"] %>
		<%= res["players"]["winner1"]["lastName"]%>
		vs. <%= res["players"]["loser1"]["firstName"] %>
		<%= res["players"]["loser1"]["lastName"]%>
		
		<%= res["score"]["1"]["winner"]%>-<%= res["score"]["1"]["loser"]%> 
		<%= "(" + res["score"]["1"]["winnerTiebreak"] + ")" if res["score"]["1"]["tiebreak"] != nil %>
		<%= res["score"]["2"]["winner"]%>-<%= res["score"]["2"]["loser"]%> 
		<%= "(" + res["score"]["2"]["winnerTiebreak"] + ")" if res["score"]["2"]["tiebreak"] != nil %>
		<% if ! res["score"]["3"].nil? %>
		<%= res["score"]["3"]["winner"]%>-<%= res["score"]["3"]["loser"]%>
		<% if   res["score"]["3"]["tiebreak"] != nil %>
		(<%=  res["score"]["3"]["winnerTiebreak"] %>-<%= res["score"]["3"]["tiebreak"] %>)
		<% end %>
		<% end %>
		</p>
	<% end %>
<% end %>


<p>Wins: <%= @json_response.parsed_response["events"][0] %></p> 
</div>

</div>
