 <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800"><%= @coach.name %>`s players</h1>     
</div>

<%= link_to "Under 12", generate_feedbacks_feedbacks_path + "?id=" + @coach.id.to_s + "&age=12" %> |
<%= link_to "Over 13", generate_feedbacks_feedbacks_path+ "?id=" + @coach.id.to_s + "&age=13" %>
<hr/>

<h1 class="h5 mb-0 text-gray-800">Showing all players <%= @age %> </h1>
<hr/>

<table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0">
		<thead>
			<tr>
				<th>Player</th>
				<th>Last feedback</th>
				<th>New feedback</th>
				
			</tr>
		</thead>
		<tbody>


<% @players.order(name: :asc).each do |p| %>
	<tr>
		
	
	<%= form_for Feedback.new do |form| %>

		<td><%= link_to p.fullname, p %> | <%=  p.get_age %> | <%=  p.level.name %></td>
		<td>
			<% if p.feedbacks.count >= 1 %>
			<%= p.feedbacks.order(created_at: :desc).first.created_at.strftime("%Y-%m-%d: ") %>
			<%= p.feedbacks.order(created_at: :desc).first.feed_back %><br/>
			<%= p.feedbacks.order(created_at: :desc).first.coach %>
			<% else %> 
			No previouse feedback
			<% end %>
		</td>
		<td> <%= form.text_area :feed_back, :size => "50" %><br/>
		  <%= form.submit "Save and send", :class => "btn btn-success" %>
		</td>
		
	<% end %>
	</tr>
<% end %>
</tbody>
</table>

