 <% User.where(coach: :true).or(User.where(helper_coach: :true)).each do |c| %>
 	<%= link_to c.name, generate_feedbacks_feedbacks_path + "?id=" + c.id.to_s %> | 

 <% end %>
 <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800"><%= @coach.name %>`s players</h1>     
</div>

<%= link_to "Under 12", generate_feedbacks_feedbacks_path + "?id=" + @coach.id.to_s + "&age=12" %> |
<%= link_to "Over 13", generate_feedbacks_feedbacks_path+ "?id=" + @coach.id.to_s + "&age=13" %>
<hr/>

<h1 class="h5 mb-0 text-gray-800">Showing all players <%= @age %> </h1>
<hr/>

<table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0">
		<thead>
			<tr>
				<th>Player</th>
				<th>Last feedback</th>
				<th>New feedback</th>
				
			</tr>
		</thead>
		<tbody>


<% @players.order(name: :asc).each do |p| %>
	<tr>
		
	
	

		<td><%= link_to p.fullname, p %><br/> 
			<%=  p.get_age %> <br/> 
			<%=  p.level.name %>
		</td>
		<td>
			<% if p.feedbacks.count >= 1 %>
			<%= p.feedbacks.order(created_at: :desc).first.created_at.strftime("%Y-%m-%d: ") %>
			<%= p.feedbacks.order(created_at: :desc).first.feed_back %><br/>
			<%= p.feedbacks.order(created_at: :desc).first.coach %>
			<% else %> 
				No previous feedback
			<% end %>
		</td>
		<td> 
		<% if p.got_parent_email? %>
			 <p class="text-gray-800"><b>To:</b> <i><%= p.parent_email %></i></p>
			 <p class="text-gray-800"><b>Cc:</b> <i><%= @coach.email %></i></p>
			<%= form_for Feedback.new do |form| %>
			  <%= form.text_area :feed_back, :size => "50" %><br/>
			  <%= form.submit "Save and send", :class => "btn btn-success" %>
			  <%= form.hidden_field :coach, :value => @coach.name %>
			  <%= form.hidden_field :player_id, :value => p.id %>
			  <%= hidden_field_tag :coach_id, @coach.id %>
			<% end %>
		<% else %>
			<%= form_for p do |form| %>
			  <%= form.text_field :parent_email,placeholder: 'Parent @email' %><br/>
			  <%= form.submit "Update parent email", :class => "btn btn-warning mt-2" %>
			  
			  <%= form.hidden_field :player_id, :value => p.id %>
			<% end %>
		<% end %>
		</td>
		
	
	</tr>
<% end %>
</tbody>
</table>

