
<div class="d-sm-flex align-items-center justify-content-between mb-0">
                <h1 class="h3 mb-0 text-gray-800">Feedbacks</h1>
</div>
<hr/>

<table class="table table-striped table-hover table" id="dataTable" width="100%" cellspacing="0">
  <thead>
    <tr>
      <th style="width:150px;">Date</th>
      <th>Player</th>
      <th>Coach</th>
      <th>Planet</th>
      <th>Feedback</th>
      <th></th>
      
    </tr>
  </thead>

  <tbody>
    <% @feedbacks.each do |feedback| %>
      <tr>
        <td><%= link_to feedback.created_at.strftime("%Y-%m-%d"), feedback %></td>
        <td><%= link_to feedback.player.fullname, feedback.player %></td>
        <td><%= link_to feedback.coach, User.find_by_name(feedback.coach) %></td>
        <td><%= link_to feedback.player.planet.title, feedback.player.planet %></td>
        <td><%= feedback.feed_back.truncate(144) %> <%= link_to "Les mer...", feedback %></td>
        
        
        <td><%= link_to 'Delete', feedback, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-sm btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
