<div class="card border-left-warning shadow h-100 ">
    <div class="card-header">
    			To: <%= @feedback.player.parent_email %> <br/>
          	Date: <%= @feedback.created_at.strftime("%d-%m-%y %H:%M") %>
    	</div>
    <div class="card-body">

      <div class="row no-gutters align-items-center">
        <div class="col mr-2">

        
         <%= @feedback.coach %>
          <%= @feedback.feed_back %>
        </div>
  </div>
</div>
<div class="card-footer">
	<p>Created by <%= link_to @feedback.coach, User.find_by_name(@feedback.coach) %>
	<%= link_to 'Delete', @feedback, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn-sm btn-danger py-2 mr-1 float-right" %></p>
</div>
</div>

<%= link_to "< Back to feedbacks", feedbacks_path, :class => "btn btn-info mt-4" %>