<% if @player.got_user? %>
	<div class="row p-4">
        <div class="col-xl-12">
			<span class="h3 mb-0 text-gray-800">	<%= link_to (@date - 1.year).strftime("%Y"), player_path(@player) + "?date=" + (@date - 1.year).strftime("%d-%m-%Y")  %>
				<%= link_to "<<", player_path(@player) + "?date=" + (@date - 1.month).strftime("%d-%m-%Y")  %>
				Month<%= link_to ">>", player_path(@player) + "?date=" + (@date + 1.month).strftime("%d-%m-%Y")  %>
				<% if @date.year < DateTime.now.year %>
					<%= link_to (@date + 1.year).strftime("%Y"), player_path(@player) + "?date=" + (@date + 1.year).strftime("%d-%m-%Y")  %>
				<% end %> 
			</span>
			<hr/>
		</div>
	</div>
	<h4 class= "text-gray-800 ml-2"><%= @date.strftime("%B %Y") %></h4>	
		 <table class="table table-striped table-hover table-sm table-responsive-xl" width="100%" cellspacing="0">
          <thead>
            <tr>
            	<th>Training/Date</th>
            	<% (@date.beginning_of_month..@date.end_of_month).each do |d| %>
              		<th><%= d.strftime("%d") %></th>
            	<% end %>
            	<th>SUM</th>
            </tr>
            
          </thead>
         
          <tbody>
          	<% TypeOfTraining.all.each do |t| %>
          	<tr>
          		<td><%= t.title %></td>
          		<% (@date.beginning_of_month..@date.end_of_month).each do |d| %>
          			<td><%= @month_table.where(type_of_training: t.id).where(t_date: d).sum(:time) %></td>
          		<% end %>
          		<th><%= @month_table.where(type_of_training: t.id).sum(:time) %></th>
          	</tr>
          	<% end %>
          </tbody>
          <tfoot>
          	<tr>
          		<th>SUM</th>
          		<% (@date.beginning_of_month..@date.end_of_month).each do |d| %>
          			<th><u><%= @month_table.where(t_date: d).sum(:time) %></u></th>
          		<% end %>
          		<th><u><%= @month_table.sum(:time) %></u></th>
          	</tr>
          </tfoot>
      </table>
					

	
	<%= area_chart @month_line, {xtitle: "Days", ytitle: "", colors: ["#50c878", "#fff"]}  %>
	<%= pie_chart @trainings_month %>
	<h4 class= "text-gray-800 mt-3 ml-2"><%= (@date - 1.month).strftime("%B %Y") %></h4>
	<%= pie_chart @trainings_prev_month %>

	<h4 class= "text-gray-800 mt-3 ml-2">Last 12 months <%= @year_ago.strftime("%b %Y") %> - <%= (@year_ago + 12.months).strftime("%b %Y") %></h4>
	<%= pie_chart @trainings_year %>
	
	<%= area_chart @trainings_year_per_month, {xtitle: "Months", ytitle: "", colors: ["#F78962", "#fff"]}  %>

	<table class="table table-striped table-hover table-sm table-responsive-xl" width="100%" cellspacing="0">
          <thead>
            <tr>
            	<th>Training/Month</th>
            	<% start_date = @year_ago %>
            	<% (0..12).each do |d| %>
            		<th><%= start_date.strftime("%b-%y") %> </th>
              		<% start_date = start_date + 1.month %>
            	<% end %>
            	<th>SUM</th>
            </tr>
            
          </thead>
         
          <tbody>

          	<% TypeOfTraining.all.each do |t| %>
          		<tr>
          			<td><%= t.title %></td>
          			<% start_date = @year_ago %>
          			<% (0..12).each do |d| %>
          				<td>
          					<%= @year_table.where(type_of_training: t.id).where('t_date BETWEEN ? AND ?', start_date.at_beginning_of_month, start_date.at_end_of_month).sum(:time) %>
          					<% start_date = start_date + 1.month %>
          				</td>
          			<% end %>
          				<th><%= @year_table.where(type_of_training: t.id).sum(:time) %></th>
          			
          		</tr>
          	<% end %>
          </tbody>
          <tfoot>
          	<tr>
          		<th>SUM</th>
          			<% start_date = @year_ago %>
          			<% (0..12).each do |d| %>
          				<th><u>
          					<%= @year_table.where('t_date BETWEEN ? AND ?', start_date.at_beginning_of_month, start_date.at_end_of_month).sum(:time) %>
          					<% start_date = start_date + 1.month %>
          				</u></th>
          			<% end %>
          				<th><u><%= @year_table.sum(:time) %></u></th>
          	</tr>
          </tfoot>
      </table>
				
			<% else %>
				Only player who have own user will have a diary. 
			<% end %>