<% if @player.got_user? %>
	<div class="row p-4">
        <div class="col-xl-12">
			<span class="h3 mb-0 text-gray-800">	<%= link_to (@date - 1.year).strftime("%Y"), player_path(@player) + "?date=" + (@date - 1.year).strftime("%d-%m-%Y")  %>
				<%= link_to "<<", player_path(@player) + "?date=" + (@date - 1.month).strftime("%d-%m-%Y")  %>
				Month<%= link_to ">>", player_path(@player) + "?date=" + (@date + 1.month).strftime("%d-%m-%Y")  %>
				<% if @date.year < DateTime.now.year %>
					<%= link_to (@date + 1.year).strftime("%Y"), player_path(@player) + "?date=" + (@date + 1.year).strftime("%d-%m-%Y")  %>
				<% end %> 
			</span>
		</div>
	</div>
				<h4 class= "text-gray-800">Days this month <%= @date.strftime("%B %Y") %></h4>
				<%= line_chart @month_line, {xtitle: "Days", ytitle: "Minutes", colors: ["#50c878", "#fff"]}  %>
				<h4 class= "text-gray-800">This month <%= @date.strftime("%B %Y") %></h4>
				<%= pie_chart @trainings_month %>
				<h4 class= "text-gray-800">Previous month  <%= (@date - 1.month).strftime("%B %Y") %></h4>
				<%= pie_chart @trainings_prev_month %>

				<h4 class= "text-gray-800">Year <%= @date.year %> total</h4>
				<%= pie_chart @trainings_year %>
				<h4 class= "text-gray-800">Year <%= @date.year %> by month</h4>
				<%= line_chart @trainings_year_per_month, {xtitle: "Months", ytitle: "Minutes", colors: ["#F78962", "#fff"]}  %>
				
			<% else %>
				Only player who have own user will have a diary. 
			<% end %>