
<h1 class="h5 mb-0 text-gray-800 mb-4 pt-3 pl-3"><i class="fas fa-plane-departure"></i> = Klubbtur </h1>
<h1 class="h5 mb-0 text-gray-800 mb-4 pl-3"><i class="fas fa-street-view"></i> = Trener til stede</h1>
				

				<table class="table table-bordered table-striped" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>Week (date)</th>
							<th>Event</th>
							<% if @player.planet.periodization? %>
								<th>Training focus</th>
							<% end %>
							

						
						</tr>
					</thead>
					<tbody>
				<% @tournament_hash.each do |a| %>
				
					
						<tr>
							<td><p class="text-xs">
								<b><%= a[0] %></b>
								(<%= a[1][0] %>)
							</p>
							</td>

							
							<td><% a[1][1].each do |t1| %>
									<% t = Tournament.find(t1) %>
									<p class="text-xs"><%= link_to t.title, t %> 
									<% if t.club_trip? %>
										<i class="fas fa-plane-departure ml-2"></i>
									<% elsif t.only_coach? %>
										<i class="fas fa-street-view ml-2"></i>
									<% end %>
									</p>
									<hr/>
								<% end %>	 
							</td>
							<% if @player.planet.periodization? %>
							<td>
								<% w = @player.planet.periodizations.where(week: a[0]).first %>
								<p class="text-xs"><b>Tennis: </b><%= w.tennis_focus %>
								<% if w.tennis_intesity > 0 %>
								 <b>Intensity: </b> <%= w.tennis_intesity %>
								 <% end %>
								</p>
								<p class="text-xs"><b>Physical: </b><%= w.physical_focus %> 
								<% if w.physical_intesity > 0 %>
									<b>Intensity: </b> <%= w.physical_intesity %>
								<% end %>
								</p>
								
								
							</td>
							<% end %>
						</tr>
						
						
				
				<% end %>
					</tbody>
				</table>