<h4 class= "text-gray-800">Sprint</h4>
				<div class="col-xl-12 col-md-12 mb-4">
					<%= area_chart @player.tests.pluck(:test_date, :sprint), min: 0, max: 4.6  %>
				</div>
				<h4 class= "text-gray-800">Spider</h4>
				<div class="col-xl-12 col-md-12 mb-4">
					<%= area_chart @player.tests.pluck(:test_date, :spider), min: 0, max: 24  %>
				</div>
				<h4 class= "text-gray-800">Fh throw</h4>
				<div class="col-xl-12 col-md-12 mb-4">
					<%= area_chart @player.tests.pluck(:test_date, :fh_throw), min: 0, max: 20  %>
				</div>
				<h4 class= "text-gray-800">Bh throw</h4>
				<div class="col-xl-12 col-md-12 mb-4">
					<%= area_chart @player.tests.pluck(:test_date, :bh_throw), min: 0, max: 20  %>
				</div>
				<h4 class= "text-gray-800">Jump</h4>
				<div class="col-xl-12 col-md-12 mb-4">
					<%= area_chart @player.tests.pluck(:test_date, :jump), min: 0, max: 4  %>
				</div>
				<h4 class= "text-gray-800">Box jump</h4>
				<div class="col-xl-12 col-md-12 mb-4">
					<%= area_chart @player.tests.pluck(:test_date, :box), min: 0, max: 130  %>
				</div>
				<h4 class= "text-gray-800">Chins</h4>
				<div class="col-xl-12 col-md-12 mb-4">
					<%= area_chart @player.tests.pluck(:test_date, :chins), min: 0, max: 35  %>
				</div>
				<h4 class= "text-gray-800">Push ups</h4>
				<div class="col-xl-12 col-md-12 mb-4">
					<%= area_chart @player.tests.pluck(:test_date, :pushups), min: 0, max: 100  %>
				</div>
				<h4 class= "text-gray-800">Brutal bench</h4>
				<div class="col-xl-12 col-md-12 mb-4">
					<%= area_chart @player.tests.pluck(:test_date, :situps), min: 0, max: 30  %>
				</div>
				<h4 class= "text-gray-800">Back stretch</h4>
				<div class="col-xl-12 col-md-12 mb-4">
					<%= area_chart @player.tests.pluck(:test_date, :back_stretch), min: 0, max: 50  %>
				</div>
				<h4 class= "text-gray-800">Front stretch</h4>
				<div class="col-xl-12 col-md-12 mb-4">
					<%= area_chart @player.tests.pluck(:test_date, :front_stretch), min: 0, max: 60  %>
				</div>
				<h4 class= "text-gray-800">Beep</h4>
				<div class="col-xl-12 col-md-12 mb-4">
					<%= area_chart @player.tests.pluck(:test_date, :beep), min: 0, max: 150  %>
				</div>