<div id="accordion">
				  <div class="card">
				    <div class="card-header" id="headingOne">
				      <h5 class="mb-0">
				        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				          Tasks in progress
				        </button>
				      </h5>
				    </div>

				    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
			    		<% if can? :update, Task %>
			    		
							<%= link_to "Add task", new_task_path + "?player_id=" + @player.id.to_s, :class => "btn btn-primary mb-3 mt-3 ml-4" %>
						
						<% end %>
					  	
				      <div class="card-body">
					       <table class="table table-responsive-xl " id="dataTable1" width="100%" cellspacing="0">
							 <thead class="thead-light">
								<th>Category</th>
								<th>Task</th>
								<th>Last comment</th>
								<% if can? :edit, Task %>
								<th></th>
								<% end %>
							</thead>
							<tbody>
								<% @tasks.each do |t| %>
								<tr>
									<td><%= t.task_category.category %></td>
									<td><%= t.created_at.strftime("%d-%m-%Y") + ": " + t.task %>
										<%= image_tag t.image.url, style: 'height:300px;width:200px;float:left' if t.image? %>
									</td>
									
									<td>

										<% if ! t.task_comments.empty? %>
											<% t.task_comments.each do |tc| %>
												<p>
													<%= tc.created_at.strftime("%d-%m-%Y:") %>
													<i><%= tc.comment %></i>
													 <% if can? :edit, TaskComment %>
													<small>| <%= link_to "Edit", edit_task_comment_path(tc) + "?task_id=" + t.id.to_s %>
													</small>
													<% end %>
												</p>
											<% end %>
										<% else %>
										<% end %>
										<% if can? :edit, TaskComment %>
										 <p><%= link_to "Add comment", new_task_comment_path + "?task_id=" + t.id.to_s %></p>
										 <% end %>


																						
										
								 	</td>
							 		<% if can? :edit, Task %>
								 		<td>
								 			<%= link_to "Edit", edit_task_path(t) %>
								 			| <%= link_to 'Destroy', t, method: :delete, data: { confirm: 'Are you sure?' } %>  
								 			
									 			| <%= link_to "Done", add_progress_tasks_path + "?id=" + t.id.to_s, :class => "btn btn-success" %> 
									 			
							 				
							 			</td>
							 		<% end %>
								 	</tr>	
								<% end %>
							</tbody>
						</table>
				
				      </div>
				    </div>
				  </div>
				  <div class="card">
				    <div class="card-header" id="headingTwo">
				      <h5 class="mb-0">
				        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
				          Completed tasks
				        </button>
				      </h5>
				    </div>
				    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
				      <div class="card-body">
				          <table class="table table-responsive-xl " id="dataTable1" width="100%" cellspacing="0">
							 <thead class="thead-light">
								<th>Category</th>
								<th>Task</th>
								<th>Last comment</th>
								<% if can? :edit, Task %>
								<th></th>
								<% end %>
							</thead>
							<tbody>
								<% @completed_tasks.each do |t| %>
								<tr class="table-success">
									<td><%= t.task_category.category %></td>
									<td><%= t.created_at.strftime("%d-%m-%Y") + ": " + t.task %></td>
									
									<td>
										
										
								 		<%= t.done? ? "Done: " + t.done_date.strftime("%d-%m-%Y") : "" %>
								 		
								 	</td>
							 		<% if can? :edit, Task %>
								 		<td>
								 			<%= link_to "Edit", edit_task_path(t) %>  
								 			| <%= link_to "Undo", add_progress_tasks_path + "?id=" + t.id.to_s, :class => "btn btn-danger" %> 
							 			</td>
							 		<% end %>
								 	</tr>	
								<% end %>
							</tbody>
						</table>
				      </div>
				    </div>
				  </div>
				  
				</div>