
<div class="mb-3 mt-3 ml-4">
<% if can? :update, Task %>
	<div class="row">		    		
	<%= link_to "+ Add task", new_task_path + "?player_id=" + @player.id.to_s, :class => "btn btn-primary " %>
	</div>
<% end %>
<button class="btn btn-danger" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
      In progress (<%= @tasks.count %>)
    </button>
    <button class="btn btn-success collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
  Completed (<%= @completed_tasks.count %>)
</button>
</div>

<div id="accordion">
	<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
	

	<% @tasks.each do |t| %>
	
		<td>
	  	<div class="card mb-2">
		    <div class="card-header py-3" id="headingOne">
		      	<div class="text-md font-weight-bold text-primary mb-2 ">
				    <%= t.task_category.category %>
				    <span class="text-gray-800"><%= t.created_at.strftime("%d-%m-%Y") %></span>
		      	</div>
		   
		    </div>

		    <div class="card-body py-3">
					    
				<%= image_tag t.image.url, style: 'height:300px;width:200px;float:left;padding-right:15px;' if t.image? %>
				<p><%= t.task %></p>

					
				<% t.task_comments.each do |tc| %>
				<hr/> 
					 <p class="text-gray-800" style="font-style: italic"> - 
					 	<%= tc.comment %>
					 	<small><%= tc.created_at.strftime("%d-%m-%Y") %></small>
					 	
					 </p>
				<% end %>
					
				
			</div>
			<% if can? :update, Task %>
			<div class="card-footer py-3">
				 
				 <%= link_to "Done", add_progress_tasks_path + "?id=" + t.id.to_s, :class => "btn-sm btn-success mr-1 py-2 float-left" %> 
			    <%= link_to "Comment", new_task_comment_path + "?task_id=" + t.id.to_s, :class => "btn-sm btn-primary py-2 float-left" %>
			    <%= link_to 'Destroy', t, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn-sm btn-danger py-2 mr-1 float-right" %>
			    <%= link_to "Edit", edit_task_path(t), :class => "btn-sm btn-info mr-1 py-2 float-right" %>
			</div>
			<% end %>
		</div>
	<% end %>
	</div>

<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
	<% @completed_tasks.each do |t| %>
	<div class="card mb-2">
		    <div class="card-header py-3" id="headingOne">
		      	<div class="text-md font-weight-bold text-primary mb-2 ">
				    <%= t.task_category.category %>
				    <span class="text-gray-800">
				    	<%= t.created_at.strftime("%d-%m-%Y") %> -
				    	<%= t.done? ? "Done: " + t.done_date.strftime("%d-%m-%Y") : "" %>
				    </span>
		      	</div>
			</div>
			<div class="card-body text-success py-3">
				<%= image_tag t.image.url, style: 'height:300px;width:200px;float:left;padding-right:15px;' if t.image? %>
				<p><%= t.task %></p>

					
				<% t.task_comments.each do |tc| %>
				<hr/> 
					 <p class="text-gray-800" style="font-style: italic"> - 
					 	<%= tc.comment %>
					 	<small><%= tc.created_at.strftime("%d-%m-%Y") %></small>
					 	
					 </p>
				<% end %>								
			</div>
			<% if can? :update, Task %>
			<div class="card-footer">
				<%= link_to "Undo", add_progress_tasks_path + "?id=" + t.id.to_s, :class => "btn btn-danger" %> 
			</div>
			<% end %>
	    	
	</div>
	<% end %>			  
</div>
</div>