
					<div class="col-xl-12 mb-4">	
						<%= link_to "Edit player", edit_player_path(@player), :class => "btn btn-primary" %> 
					</div>
					
					<div class="col-xl-12 col-md-12 mb-4">	
					<% if current_user.admin? %>
						<% if !@player.got_user? %>  
							<br/><small>Add profile:</small>               
							<%= form_for UserPlayer.new do |f| %>
								<%= f.collection_select :user_id, User.where(parent: false, coach: false, admin: false), :id, :name, :class => "form-control form-control-user", :include_blank => 'choose user' %>
								<%= f.hidden_field :player_id, :value => @player.id %>
								<%= f.submit "Save" , :class => "btn btn-success"%>
							<% end %>
						
						<% end %>

						<% if !@player.got_parent? %>  
							<br/><small>Add parent:</small>               
							<%= form_for UserPlayer.new do |f| %>
								<%= f.collection_select :user_id, User.where(parent: true), :id, :name, :class => "form-control form-control-user", :include_blank => 'choose user' %>
								<%= f.hidden_field :player_id, :value => @player.id %>
								<%= f.submit "Save" , :class => "btn btn-success"%>
							<% end %>
						
						<% end %>
						<% if current_user.admin? %>  
								<br/><small>Add coach:</small>               
								<%= form_for UserPlayer.new do |f| %>
								<%= f.collection_select :user_id, User.where(coach: true), :id, :name, :class => "form-control form-control-user", :include_blank => 'choose user' %>
								<%= f.hidden_field :player_id, :value => @player.id %>
								<%= f.submit "Add" , :class => "btn btn-success"%>
							<% end %>
						<% end %>
						
					<% end %>
						<h3>Level</h3>
						<%= form_for @player do |f| %>
								<%= f.collection_select :level_id, Level.all, :id, :name, :class => "form-control form-control-user" %>
								
								<%= f.submit "Add level" , :class => "btn btn-success"%>
							<% end %>
						<h3>Planet</h3>
						<%= form_for @player do |f| %>
								<%= f.collection_select :planet_id, Planet.all, :id, :title, :class => "form-control form-control-user" %>
								
								<%= f.submit "Add planet" , :class => "btn btn-success"%>
							<% end %>
					</div>
			
				