 
<!-- Topbar -->
       
          <nav class="navbar navbar-expand-lg bg-primary navbar-dark mb-2 p-3 shadow-sm" style="position: fixed;z-index: 2;width:100%">
         <div class="container-fluid">
          <span style="font-family: Georgia, serif">
          <%= link_to root_url, :class => "navbar-brand" do%>
          <i class="fas fa-fingerprint fa-2x"></i>
          STK-VAULT</span>
          <% end %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">

              <% if current_user.parent? %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-child mr-2"></i>
                  My kids
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <% current_user.players.each do |p| %>
                    <%= link_to p.fullname, p, :class => "dropdown-item" %>
                  <% end %>
                </div>
              </li>
                <li class="nav-item">
                
                <%= link_to toplist_tests_path, :class => "nav-link" do %>
                  <i class="fas fa-trophy mr-2"></i>
                  Toplist Ironman
                <% end %>
              </li>

              <% elsif current_user.player? %>
              <li class="nav-item">
              <%= link_to current_user.get_player_profile, :class => "nav-link" do  %>
                <i class="fas fa-user mr-2"></i>
                  Profile
                <% end %>
              </li>
              <li class="nav-item">
                 <%= link_to  new_training_path, :class => "nav-link" do %>
                    <span><i class="fas fa-plus mr-2"></i>New training</span>
                 <% end %>
              </li>
              <%= link_to  trainings_path, :class => "nav-link" do %>
                <span><i class="fas fa-running mr-2"></i>My trainings</span>
              <% end %>
               <li class="nav-item">
                <%= link_to toplist_tests_path, :class => "nav-link" do %>
                  <span><i class="fas fa-trophy mr-2"></i>Toplist Ironman</span>
                <% end %>
              </li>



            <% elsif current_user.coach? %>
              <%= link_to  players_path, :class => "nav-link" do %>
                <span><i class="fas fa-users mr-2"></i>Players</span>
              <% end %>
              <%= link_to  planets_path, :class => "nav-link" do %>
                <span><i class="fas fa-globe-americas mr-2"></i>Planets</span>
              <% end %>
              

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-tasks mr-2"></i>
                  Tasks
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                 
                  <%= link_to  tasks_path, :class => "dropdown-item" do %>
                <span><i class="fas fa-check-double mr-2"></i>Tasks</span>
              <% end %>
                 <%= link_to task_categories_path, :class => "dropdown-item" do %>
                  <span>
                    <i class="fas fa-tasks mr-2"></i>
                    
                    Task categories
                  </span>
                 <% end %>
                </div>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-calendar-alt mr-2"></i>
                  Events
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                 
                 <%= link_to next_52_weeks_tournaments_path, :class => "dropdown-item" do %>
                  <span>
                    <i class="fas fa-calendar-plus mr-2"></i>
                    Event planner
                  </span>
                 <% end %>
                 <%= link_to tournaments_path, :class => "dropdown-item" do %>
                  <span>
                    <i class="far fa-calendar mr-2"></i>
                    
                    All events
                  </span>
                 <% end %>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-dumbbell mr-2"></i>
                  Ironman
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <%= link_to all_tests_tests_path, :class => "dropdown-item" do %>
                  <span>
                    <i class="fas fa-dumbbell mr-2"></i>
                    All tests
                  </span>
                 <% end %>
                 <%= link_to toplist_tests_path, :class => "dropdown-item" do %>
                  <span>
                    <i class="fas fa-trophy mr-2"></i>
                    Toplists
                  </span>
                 <% end %>
                 <%= link_to new_test_group_path, :class => "dropdown-item" do %>
                  <span>
                    <i class="far fa-calendar-plus mr-2"></i>
                    
                    New test
                  </span>
                 <% end %>
                 <%= link_to test_groups_path, :class => "dropdown-item" do %>
                  <span>
                    <i class="fas fa-users mr-2"></i>
                  
                    Test groups
                  </span>
                 <% end %>
                 
                 <%= link_to exercises_path, :class => "dropdown-item" do %>
                  <span>
                    <i class="fas fa-file-signature mr-2"></i>
                  
                    Year report
                  </span>
                 <% end %>
                </div>
              </li>
              <li>
                <%= link_to  trainings_path, :class => "nav-link" do %>
                <span><i class="fas fa-running mr-2"></i>Trainings</span>
              <% end %>
              </li>
              
            <% end %>

            <% if @current_user.admin? %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-tools mr-2"></i>
                  Admin
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <%= link_to users_path, :class => "dropdown-item" do %>
                  <span>
                    <i class="fas fa-users mr-2"></i>
                    Users
                  </span>
                 <% end %>
                 <%= link_to task_report_pages_path, :class => "dropdown-item" do %>
                  <span>
                    <i class="fas fa-tasks mr-2"></i>
                    Task report
                  </span>
                 <% end %>
                 <%= link_to new_test_group_path, :class => "dropdown-item" do %>
                  <span>
                    <i class="far fa-calendar-plus mr-2"></i>
                    
                    New test
                  </span>
                 <% end %>
                </div>
              </li>

            <% end %>
            
            </ul>
            






            <ul class="navbar-nav ml-auto">
            
             <div class="topbar-divider d-none d-sm-block"></div>
            <!-- Nav Item - User Information -->
                <li class="nav-item dropdown ">
                  <a class="nav-link dropdown-toggle " href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="far fa-user fa mr-2"></i>
                    <span class="mr-2 d-lg-inline "><%= current_user.name %></span>
                  </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                <%= link_to current_user, :class => "dropdown-item" do  %>
                <i class="fas fa-user mr-2"></i>
                  My user
                <% end %>
                 <%= link_to edit_user_path(current_user), :class => "dropdown-item" do  %>
                <i class="fas fa-user-edit mr-2"></i>
                  Edit user
                <% end %> 
             
              <div class="dropdown-divider"></div>
                <%= link_to destroy_user_session_path, method: :delete, :class => "dropdown-item" do  %>
                <i class="fas fa-sign-out-alt mr-2"></i>
                  
                  Logout
                
                <% end %>
              </div>
            </li>
          </ul>

          </div>
       </div>
        </nav>
    