 
<!-- Topbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4 p-3 shadow-sm">
          <%= link_to root_url, :class => "navbar-brand" do %>
          STK
          <% end %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">

              <% if current_user.parent? %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-child mr-2"></i>
                  My kids
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <% current_user.players.each do |p| %>
                    <%= link_to p.fullname, p, :class => "dropdown-item" %>
                  <% end %>
                </div>
              </li>
                <li class="nav-item">
                
                <%= link_to toplist_tests_path, :class => "nav-link" do %>
                  <i class="fas fa-trophy mr-2"></i>
                  Toplist Ironman
                <% end %>
              </li>
              <% end %>
            
            </ul>
            
            <ul class="navbar-nav ml-auto">
            <% if can? :read, User %>
            <li class="nav-item dropdown arrow" >
                <a style="color:#fff;" class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-users-cog mr-2"></i>
                        <span class="mr-2 d-lg-inline text-gray-600">Settings</span>
                      </a>
                      <!-- Dropdown - Users settings -->
                      <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="#">
                        <%= link_to users_path, :class => "dropdown-item" do  %>
                        <i class="fas fa-users mr-2"></i>
                          Find users
                        <% end %>
                        
                      </div>
                    </li>
            <% end %>
                     <div class="topbar-divider d-none d-sm-block"></div>
                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow ">
                      <a class="nav-link dropdown-toggle " href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="far fa-user fa mr-2"></i>
                        <span class="mr-2 d-lg-inline text-gray-600"><%= current_user.name %></span>
                      </a>
                      <!-- Dropdown - User Information -->
                      <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="#">
                        <%= link_to current_user, :class => "dropdown-item" do  %>
                        <i class="fas fa-user mr-2"></i>
                          My user
                        <% end %>
                         <%= link_to edit_user_path(current_user), :class => "dropdown-item" do  %>
                        <i class="fas fa-user-edit mr-2"></i>
                          Edit user
                        <% end %> 
                      <% if current_user.player? %> 
                      <div class="dropdown-divider"></div>
                        <%= link_to current_user.get_player_profile, :class => "dropdown-item" do  %>
                        <i class="fas fa-running mr-2"></i>
                          My activity
                        <% end %>
                        <% end %>
                      <div class="dropdown-divider"></div>
                        <%= link_to destroy_user_session_path, method: :delete, :class => "dropdown-item" do  %>
                        <i class="fas fa-sign-out-alt mr-2"></i>
                          
                          Logout
                        
                        <% end %>
                      </div>
                    </li>
                  </ul>

          </div>
        </nav>
    