
<ul class="navbar-nav bg-gradient-light sidebar sidebar-light accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
     
      <span class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
         <i class="fas fa-toolbox"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Admin <sup>menu</sup></div>
      </span>
   
      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <%= link_to root_url do %>
        <span class="nav-link" href="index.html">
          
          <i class="fas fa-home"></i>

          Home</span>
        <% end %>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Menu
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUser" aria-expanded="true" aria-controls="collapseUser">
          <i class="fas fa-users-cog mr-2"></i>
          <span>Users </span>
        </a>
        <div id="collapseUser" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
           <!-- <h6 class="collapse-header">Edit companies :</h6>-->
             <%= link_to users_path + "?user_type=Players", :class => "collapse-item" do%>
             <span>
              <i class="fas fa-user-cog mr-2"></i>
               Players
            </span>
             <% end %>
             <%= link_to users_path + "?user_type=Parents", :class => "collapse-item" do%>
             <span>
               <i class="fas fa-user-cog mr-2"></i>
               Parents
            </span>
             <% end %><%= link_to users_path + "?user_type=Coaches", :class => "collapse-item" do%>
             <span>
               <i class="fas fa-user-cog mr-2"></i>
               Coaches
            </span>
             <% end %><%= link_to users_path + "?user_type=Admins", :class => "collapse-item" do%>
             <span>
               <i class="fas fa-user-cog mr-2"></i>
               Admins
            </span>
             <% end %>
            
            
        
          </div>
        </div>
      </li>
     <li class="nav-item">
        <%= link_to players_path, :class => "nav-link" do %>
         <span>
          <i class="fas fa-running mr-2"></i></i>
          Players</span>
        <% end %>
      </li>


      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePlanet" aria-expanded="true" aria-controls="collapsePlanet">
         <i class="fas fa-globe-americas mr-2"></i>
          <span>Planets</span>
        </a>
        <div id="collapsePlanet" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
           <!-- <h6 class="collapse-header">Edit companies :</h6>-->
           <% Planet.all.each do |p| %>
           <%= link_to p, :class => "collapse-item" do %>
           <span>
           <i class="fas fa-baseball-ball mr-2" style="color:<%= p.color %>"></i>
           <%= p.title %> (<%= p.players.count %>)
         </span>
           <% end %>
           <% end %>
          </div>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLevel" aria-expanded="true" aria-controls="collapseLevel">
         <i class="fas fa-layer-group mr-2"></i>
          <span>Levels</span>
        </a>
        <div id="collapseLevel" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
           <!-- <h6 class="collapse-header">Edit companies :</h6>-->
           <% Level.all.each do |l| %>
           <%= link_to l, :class => "collapse-item" do %>
           <span>
           <i class="fas fa-baseball-ball mr-2" style="color:<%= l.color %>"></i>
           <%= l.name %> (<%= l.players.count %>)
         </span>
           <% end %>
           <% end %>
          </div>
        </div>
      </li>
      <!-- Nav Item - Utilities Collapse Menu -->
      
       <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseIronman" aria-expanded="true" aria-controls="collapseIronman">
         <i class="fas fa-dumbbell mr-2"></i>
          <span>Ironman</span>
        </a>
        <div id="collapseIronman" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
           <!-- <h6 class="collapse-header">Edit companies :</h6>-->
           
           <%= link_to all_tests_tests_path, :class => "collapse-item" do %>
           <span>
            <i class="fas fa-dumbbell mr-2"></i>
           All tests
         </span>
           
           <% end %>
          </div>
        </div>
      </li>
      
     
       

      <!-- Divider -->
      <hr class="sidebar-divider">
     

      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>
    </ul>