<%= link_to "Save year 19", save_year_tests_path + "?year=" + "2019" %>
<%= link_to "Save year 20", save_year_tests_path + "?year=" + "2020" %> 
<br/>



<% @players.each do |p| %>
	<%= form_for p do |f| %>
	<p><%= p.fullname %> - <%= f.text_field :parent_email %><%= f.submit "save" %></p>
	
	<% end %>
<% end %>