<%= link_to "Save year 19", save_year_tests_path + "?year=" + "2019" %>
<%= link_to "Save year 20", save_year_tests_path + "?year=" + "2020" %> 
<br/>



<% @players.each do |p| %>
	<%= form_for p do |f| %>
	<p><%= p.fullname %> - <%= f.text_field :parent_email %><%= f.submit "save" %></p>
	
	<% end %>
<% end %>



<% @users.each do |u| %>
	<%= form_for(u) do |f| %>
		<p><%= u.name %> - 
			<%= f.label :coach %>
                  <%= f.check_box :coach %>
                  <%= f.label :helper_coach %>
                  <%= f.check_box :helper_coach %>
                  <%= f.submit "Save" %>
		</p>
	<% end %>
<% end %>