<style type="text/css">
  @media print {
       table td:gender {display:none}
       table th:gender {display:none}
   }
</style>
<h1 class="h1 mb-0 text-gray-800"><%= @group.title %> <small><%= @group.date.strftime("%d-%m-%Y") %> | <%= link_to 'Edit', @group %></small></h1>

<div class="mt-3 ml-3">
<% if @group_id > 0 %>  
  <%= link_to "Update all scores", update_test_score_tests_path + "?group=" + @group_id.to_s %>
<% elsif @group_id == 0 %>
  <%= link_to "Update all scores", update_test_score_tests_path  %>
<% end %>
</div>
<hr/>
<div class="col-sm-6 ">
<h1 class="h3 mb-2 text-gray-800">On court tests:</h1>

<table class="table table-responsive table-striped" width="100%" cellspacing="1">
  <thead>
    <tr>
      <th>Player</th>
      <th>Sprint</th>
      <th>Spider</th>
      <th>Jump</th>
      <th>Fh throw</th>
      <th>Bh throw</th>
      <th>Box</th>  
      <th>Beep</th>  
      <th> Submit </th>
      
    </tr>
  </thead>

  <tbody>
   
    <% @tests.each do |test| %>
      <%= form_for test do |f| %>
        <tr> 
          <td class="player"><%= link_to test.player.name, test.player %> - <%= test.test_score %></td>
          <td><%= f.text_field :sprint, :size => "4"%></td>
          <td><%= f.text_field :spider, :size => "4" %></td>
          <td><%= f.text_field :jump, :size => "4" %></td>
          <td><%= f.text_field :fh_throw, :size => "4" %></td>
          <td><%= f.text_field :bh_throw, :size => "4" %></td>
          <td><%= f.text_field :box, :size => "4" %></td>
          <td><%= f.text_field :beep, :size => "4" %></td>
          <%= hidden_field_tag(:group, test.test_group_id.to_s) %>
          <td> <%= f.submit "Update" %></td>
          
        </tr>
        <% end %>
    <% end %>

  </tbody>
</table>
 

<h1 class="h3 mb-2 text-gray-800">Fitness rom tests:</h1>

<table class="table table-responsive table-striped" width="100%" cellspacing="1">
  <thead>
    <tr>
      <th>Player</th>
      <th>Chins</th>
      <th>Sit ups</th>
      <th>Push ups</th>
      <th>Back stretch</th>
      <th>Front stretch</th>   
      <th> Submit </th>
      
    </tr>
  </thead>

  <tbody>
   
    <% @tests.each do |test| %>
      <%= form_for test do |f| %>
        <tr> 
          <td class="player"><%= link_to test.player.name, test.player %> - <%= test.test_score %></td>
          <td><%= f.text_field :chins, :size => "4"%></td>
          <td><%= f.text_field :situps, :size => "4" %></td>
          <td><%= f.text_field :pushups, :size => "4" %></td>
          <td><%= f.text_field :back_stretch, :size => "4" %></td>
          <td><%= f.text_field :front_stretch, :size => "4" %></td>
          
          <%= hidden_field_tag(:group, test.test_group_id.to_s) %>
          <td> <%= f.submit "Update" %></td>
          
        </tr>
        <% end %>
    <% end %>

  </tbody>
</table>
 </div>
