<p id="notice"><%= notice %></p>

<p>
  <strong>Sprint:</strong>
  <%= @test.sprint %>
</p>

<p>
  <strong>Spider:</strong>
  <%= @test.spider %>
</p>

<p>
  <strong>Jump:</strong>
  <%= @test.jump %>
</p>

<p>
  <strong>Fh throw:</strong>
  <%= @test.fh_throw %>
</p>

<p>
  <strong>Bh throw:</strong>
  <%= @test.bh_throw %>
</p>

<p>
  <strong>Box:</strong>
  <%= @test.box %>
</p>

<p>
  <strong>Player:</strong>
  <%= @test.player_id %>
</p>

<p>
  <strong>Test group:</strong>
  <%= @test.test_group_id %>
</p>

<p>
  <strong>Chins:</strong>
  <%= @test.chins %>
</p>

<p>
  <strong>Situps:</strong>
  <%= @test.situps %>
</p>

<p>
  <strong>Pushups:</strong>
  <%= @test.pushups %>
</p>

<p>
  <strong>Back stretch:</strong>
  <%= @test.back_stretch %>
</p>

<p>
  <strong>Front stretch:</strong>
  <%= @test.front_stretch %>
</p>

<p>
  <strong>Test score:</strong>
  <%= @test.test_score %>
</p>

<p>
  <strong>Beep:</strong>
  <%= @test.beep %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @test.gender %>
</p>

<p>
  <strong>Test type:</strong>
  <%= @test.test_type %>
</p>

<p>
  <strong>Age:</strong>
  <%= @test.age %>
</p>

<p>
  <strong>Program1:</strong>
  <%= @test.program1 %>
</p>

<p>
  <strong>Program2:</strong>
  <%= @test.program2 %>
</p>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
