<p id="notice"><%= notice %></p>

<h1>Training Programs</h1>

<table>
  <thead>
    <tr>
      <th>Prog number</th>
      <th>Prog url</th>
      <th>Prog name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @training_programs.each do |training_program| %>
      <tr>
        <td><%= training_program.prog_number %></td>
        <td><%= training_program.prog_url %></td>
        <td><%= training_program.prog_name %></td>
        <td><%= link_to 'Show', training_program %></td>
        <td><%= link_to 'Edit', edit_training_program_path(training_program) %></td>
        <td><%= link_to 'Destroy', training_program, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Training Program', new_training_program_path %>
